/* Move down content because we have a fixed navbar that is 50px tall */
/*body {*/
  /*padding-top: 50px;*/
/*}*/

body {
    height: 100%;
    padding: 10px;
}
.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.selected {
    border: 2px solid rgb(221, 43, 43) !important;
    /*Начинает все плавно двигаться*/
    /*transition: all 0.5s ease-out;*/
}
.resolved {
    border: 2px solid rgb(128, 188, 221) !important;
    text-decoration: line-through;
}
.multiple-selected {
    border: 2px solid rgb(139, 77, 18) !important;
}
.has-conflict {
    border: 2px solid #ffff00 !important;
}

.has-new-version {
    border: 2px solid green !important;
}

.front-page-plot{
    /*height: calc(100% - 60px);*/
    height: 100%;
    background-color: gray;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}
.node, .tmp-node  {
    position: absolute;
    max-height: 400px;
    padding: 5px;
    /*margin: 25px;*/
}

.node-content {
    border: 1px solid silver;
    box-shadow: 0px 0px 10px 0 silver;
    border-radius: 5px;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.list-item  {
    /*max-width: 290px;*/
    /*max-height: 400px;*/
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0 silver;
}

.node {
    background-color: transparent;
}

.tmp-node {
    background-color: rgb(224, 149, 149) !important;
}

.tmp-node > textarea {
    background-color: rgb(224, 149, 149) !important;
}
/*Для нода*/
.halo-select-related, .halo-add-link, .halo-drag, .halo-select-related-text, .halo-hide-node, .halo, .halo-add-link-link {
    /*не работает*/
    /*transition: all 0.5s ease-out;*/
    /*-webkit-transition: all 0.5s ease-out;*/
    /*-moz-transition: all 0.5s ease-out;*/
    /*-o-transition: all 0.5s ease-out;*/
    position: absolute;
    max-width: 20px;
    max-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
}
/*Для плота (визуально как для нода, но по факту - переключатели режима )*/
.plot-halo-select-related, .plot-halo-add-link, .plot-halo-drag, .plot-halo-select-related-text {
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
}

.cell-node {

}

.link-shape-input {
    position: absolute;
    max-width: 290px;
    max-height: 400px;
/*    overflow: hidden; - иначе хало не видно*/
    border: 1px solid silver;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0 silver;
}
.link-shape-input input{
    box-sizing:border-box;
    resize: none;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: inherit;
    height: inherit;
}

textarea {
    box-sizing:border-box;
    resize: none;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: inherit;
    height: inherit;
}

.tab {
    background-color: rgba(240, 234, 234, 1);
    /*height: 680px;*/
    height: 100%;
}

.tab h3, .tab input, #plot-title-input{
    display: inline-block;
}


line {
    stroke: rgb(0, 0, 0);
    stroke-width: 3;
}

svg {
    width: 100%;
    height: 100%;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*background-color: rgb(216, 200, 200);*/
}

svg:not(:root){overflow: initial;}

/*http://jsfiddle.net/c26r9/1/*/
.highlight {
    background-color: red;
    color: #FFFFFF;
    padding: 0px 2px;
}

#links, #nodes, #plots, #plots-lower{
    width: 200px;
}

.placeholder{
    text-align: center;
    padding: 20px;
    font-size: large;
}

.fullscreen{
    left: 0px !important;
    top: 45px !important;
    right: 0px !important;
    bottom: 0px !important;
    z-index: 1000 !important;
    position: fixed !important;
    max-width: none;
    max-height: none;
    width: 98.5%!important;
    height: 96.1%!important;
}


    /*{{> dataTypeIcon}}*/
    /*{{> wigetTypeIcon}}*/
    /*{{> typeIcon}}*/
    /*{{> nodeShapeTypeIcon}}*/

.node-shape-data-icon{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    color: black;
}

.node-shape-widget-type-icon{
    top: 25px;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
}

.node-type-icon{
    top: 45px;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    color: black;
}

.node-shape-type-icon{
    top: 60px;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    color: black;
}

.node-shape-proto-icon{
    top: 60px;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    color: black;
}


.node-shape-warning-icon{
    top: 0;
    right: 0;
    position: absolute;
    width: 20px;
    height: 20px;
}


.tag{
    position: absolute;
    width: 20px;
    height: 20px;
}

.scroll {
    overflow: auto;
}

#main {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 100px;
}

#main > div{
    padding-bottom: 40px;
}

.node-type-menu{
    position: absolute;
    left: -10px;
    top: 25px;
}

.node-shape-type-menu{
    position: absolute;
    left: -10px;
    top: 75px;
}

.node-context-menu{
    position: absolute;
    left: -10px;
    top: 15px;
}

.node-proto-menu{
    position: absolute;
    left: -10px;
    top: 45px;
}
.node-data-menu{
    position: absolute;
    left: -10px;
    top: -15px;
}

#new-node-menu{
    position: absolute;
}

.container{
    width: inherit;
    height: inherit;
    /*может быть так будет работать*/
    overflow: overlay;
    /*overflow: scroll;*/
}

.tmp-link{
    stroke:red;
}
.tmp-link-auto{
    stroke: #118b18;
}

.plot-menu{
    margin-left: 10px
}

.btn-panel-margin {
    margin-bottom: 10px;
    margin-top: 0px !important;
}

.content-with-padding {
    padding: 40px 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.product {
    display: inline-block;
    vertical-align: top;
    width: 30em;
    margin: 0 1.5em 1.5em 0;
    background-color: rgba(255, 255, 255, 1);
}

.product-title {
    padding-left: 10px;
}

.product-text {
    padding-left: 10px;
}

.product-image {
    /*float: right;*/
    margin-right: 1em;
    margin-bottom: 1em;
    position: relative;
}

.content-left-nopadding {
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.node_shape_selected {
  font-weight: bold;
  color: blueviolet;
}

.node_trashed {
  color: yellow;
}

.navbar-search-custom {
  position: relative;
  display: initial;
  padding-top: 8px;
  margin-top: 5px;
  margin-bottom: 0;
}

.tag-readonly{
  font-size: 120%;
  padding: 1px 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: navajowhite;
  border: 1px solid darkgoldenrod;
  white-space: nowrap;
}

.simple-node-search{
    width: 100%;
    font-size: 120%;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: navajowhite;
    border: 1px solid darkgoldenrod;
    white-space: nowrap;
}

.simple-plot-inline-search{
    width: 100%;
    font-size: 100%;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ff7023;
    border: 1px solid #b84388;
    white-space: nowrap;
}


.simple-nodeshape-search{
    font-size: 100%;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: navajowhite;
    border: 1px solid darkgoldenrod;
    white-space: nowrap;
}

/*.-autocomplete-container{*/
.width-500-px{
    width: 500px;
}

.ui-resizable {
   position: absolute !important;
}

.project-select {
   width: 100px;
   margin-bottom: 0;
}
.plot-title {
    display: inline-block;
    margin: 0;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.plot-search {
   margin: 0 !important;
}

footer {
    padding-bottom: 51px;
}
/*чтобы везде были ссылки*/
a { cursor: pointer; }

/*#legend-image {z-index: 201;}*/
.ui-dialog { z-index: 201 !important ;}

/*показывает тултип, что еще не готово*/
.not-done-label:before {
    content: "*";
}

.not-done-label:after{
    content: "еще не готово";
    padding: 2px;
    display:none;
    position: relative;
    top: -20px;
    right: -30px;
    width: 150px;
    text-align: center;
    background-color: #fef4c5;
    border: 1px solid #d4b943;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    font-size: 15px;
}

.not-done-label:hover:after{
    display: block;
}

.external_edit {
    width: 100%;
    height: 100%;
}

.glyphicon-20px {
    font-size: 17px;
}

.node_scroll_autocomplete {
    max-width: 20px;
}

.fake-mouse{
    position: absolute;
    height: 24px;
    display: none;
    z-index: 10000;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-450 {
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate-400 {
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.-autocomplete-item.selected {
    color: inherit;
    background: #4183C4;
    text-decoration: none;
}


.-autocomplete-list {
    height: 500px;
    width: 500px;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
}