<template name="dataMenu">
    <ul id="node-data-menu-{{_id}}"  class="node-data-menu dropdown-menu">
        {{>dataMenu_}}
    </ul>
</template>

<template name="dataMenu_">
    {{#each available_types}}
        <li class="{{#if eq ../node_type this.type}}active{{/if}}"><a class='set-node-data' data-type='{{this.type}}' >{{#if eq ../node_type this.type}}{{else}}convert to{{/if}} {{type}}</a></li>
    {{else}}
        <li>no variants</li>
    {{/each}}
</template>