<template name="halos">
    <div class="halo halo-drag" style="left:20px; top: 0px; background-color: rgb(82, 41, 189);" title="move node"></div>
    <div class="halo halo-add-link" style="left:40px; top:0px; background-color: rgb(94, 189, 41);" title="add new link"></div>
    <div class="halo halo-add-link-with-node" style="left:60px; top:0px; background-color: rgb(36,139,92);" title="add link with node"></div>
    <div class="halo halo-expose-fragment" style="left:80px; top:0px; background-color: rgb(112, 230, 140);" title="expose fragment"></div>
    <div class="halo halo-select-related" style="left:100px; top: 0px; background-color: rgb(22, 11, 139); color: white;" title="show related nodes">{{relatedNodes}}</div>
    <div class="halo halo-show-auto" style="left:120px; top: 0px; background-color: rgb(99,61,139);  color: white;" title="show auto nodes">{{autoNodes}}</div>

    <div class="halo halo-delete-node" style="right:20px; bottom:0px; background-color: rgb(228, 28, 74);" title="delete node"></div>
    <div class="halo halo-hide-node" style="right:40px; bottom:0px; background-color: rgb(139,36,60);" title="hide node"></div>
    <div class="halo halo-resolve-node" style="right:60px; bottom:0px; background-color: black;" title="resolve node"></div>

    <div class="halo-zoom-up halo" style="right:0px; bottom:40px; background-color: rgb(244,255,95);" title="zoom up"></div>
    <div class="halo-zoom-down halo" style="right:0px; bottom:20px; background-color: rgb(17,139,24);" title="zoom down"></div>
</template>

<template name="notificationTypeIcon">
    <span class="glyphicon glyphicon-warning-sign node-shape-warning-icon"></span>
</template>


<template name="dataTypeIcon">
    <div>
        {{#if isDataTypeIconPicture}}
            <img src='{{data_icon}}' class="node-shape-data-icon" title='node content type:  {{node_type}} {{node_external_type}}' draggable="true" ondragstart="onDragStartNodeShape(event)" data-node-shape-id='{{_id}}'>
        {{else}}
            <a href='#' draggable="true" ondragstart="onDragStartNodeShape(event)" data-node-shape-id='{{_id}}'><div class="node-shape-data-icon"><span class="glyphicon {{data_icon}} glyphicon-20px"></span></div></a>
        {{/if}}
        {{>dataMenu}}
    </div>
</template>

<template name="wigetTypeIcon">
    <div>
        {{#if widget_icon}}
            <img src='{{widget_icon}}' class="node-shape-widget-type-icon" title='node view type: {{view_type}}'>
        {{/if}}
        {{>widgetMenu}}
    </div>
</template>


<template name="typeIcon">
    <div>
        {{#if node_attrs.type}}
            <span class="glyphicon {{renderNodeAttribute node_attrs.type 'picture'}} node-type-icon glyphicon-20px" title='node type: {{renderNodeContent node_attrs.type}}'></span>
        {{else}}
            <a class="node-type-icon" href="#" title='assign node type'><span class="glyphicon glyphicon-info-sign glyphicon-20px"></span></a>
        {{/if}}
        {{>typeMenu}}
    </div>
</template>


<template name="nodeShapeTypeIcon">
    <div>
        {{#if node_shape_type}}
            <span class="glyphicon {{renderNodeAttribute node_shape_type 'picture'}} node-shape-type-icon glyphicon-20px" title='node type: {{renderNodeContent node_shape_type}}'></span>
        {{else}}
            <a class="node-shape-type-icon" href="#" title='assign node shape type'><span class="glyphicon glyphicon-info-sign glyphicon-20px"></span></a>
        {{/if}}
        {{>nodeShapeTypeMenu}}
    </div>
</template>

<template name="protoIcon">
    <div>
        {{#if proto}}
            <img src='{{proto_icon}}' class="node-shape-proto-icon" title='node view type: {{proto}}'>
        {{else}}
            <a class="node-shape-proto-icon" href="#" title='assign a proto'><span class="glyphicon glyphicon-wrench glyphicon-20px"></span></a>
        {{/if}}
        {{>protoMenu}}
    </div>
</template>
