<template name="nodeMenu">
    <ul id="node-menu-{{_id}}"  class="node-menu dropdown-menu">
        <li> <a class='copy-selected-nodes'>Copy selected Node(s)</a></li>
        <li> <a class='paste-nodes'>Paste</a></li>
    </ul>
</template>