<template name="nodeShapeTypeMenu">
    <ul id="node-shape-type-menu-{{_id}}"  class="node-shape-type-menu dropdown-menu">
        {{> nodeShapeTypeMenu_}}
    </ul>
</template>

<template name="nodeShapeTypeMenu_">
        {{#each available_types}}
            <li class="{{#if eq ../node_shape_type this.node_id}}active{{/if}}"><a class='set-node-shape-type' data-type='{{this.node_id}}'>{{#if eq ../node_shape_type this.node_id}}{{else}}mark as{{/if}} {{this.node_attrs.content}} <span class="glyphicon {{this.node_attrs.picture}}"></span></a></li>
        {{/each}}
</template>