<template name="plotMenu">
    <ul id="plot-type-menu-{{_id}}"  class="plot-type-menu dropdown-menu">
      <li class="dropdown-submenu">
        <a tabindex="-1" >convert to ...</a>
        <ul class="dropdown-menu">
             {{#each avaible_types}}
                <li class="{{#if eq ../view_type this}}active{{/if}}"><a  class="convert-plot" data-type='{{this}}'>convert to {{this}}</a></li>
            {{/each}}
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a tabindex="-1" >copy as ...</a>
        <ul class="dropdown-menu">
             {{#each avaible_types}}
                <li> <a  class="clone-plot" data-type='{{this}}' >copy as {{this}}</a></li>
            {{/each}}
        </ul>
      </li>
    </ul>
</template>