<template name="protoMenu">
    <ul id="node-proto-{{_id}}"  class="node-proto-menu dropdown-menu">
        {{>protoMenu_}}
    </ul>
</template>

<template name="protoMenu_">
    {{#each available_types}}
        <li class="{{#if eq ../proto this._id}}active{{/if}}"><a class='set-node-proto' data-type='{{this._id}}' >{{#if eq ../proto this._id}}{{else}}mark as{{/if}} {{this.node_attrs.content}}</a></li>
    {{else}}
        <li>no protos</li>
    {{/each}}
</template>