<template name="showTags">
    <!--конпка добавить тег-->
    <div class="add-tag tag" style="left:20px; bottom: 0px; background-color: red;" title='add new tag'>+</div>
    {{#each viewTags}}
        {{#if last}}
            {{> tag}}
            {{> showAllTags tags=../tags index=index}}
        {{else}}
            {{> tag}}
        {{/if}}
    {{/each}}
</template>

<template name="tag">
    <div class="tag" style="left:{{getX}}px; bottom: 0px; background-color: rgb(228, 188, 188);" title={{value}}><small>{{getShortName}}</small></div>
</template>

<template name="showAllTags">
    <div class="show-tags tag" style="left:{{getX}}px; bottom: 0px; background-color: rgb(228, 188, 188);" title="show all"><small>All</small></div>
    {{>otherTags}}
</template>

<template name="otherTags">
    <ul id="show-other-tags"  class="dropdown-menu">
      {{#each tags}}
        <li> <a id="make-fullscreen">{{this}}</a></li>
      {{/each}}
    </ul>
</template>