<template name="tutorialMenu">
    <ul class="dropdown-menu">
        <li> <a href="{{pathFor 'mainConcept'}}">Main Concept</a></li>
        <li> <a href="{{pathFor 'useCases'}}">Usecases</a></li>
        <li> <a id="show-legend">Legend</a></li>

        <li class="dropdown-submenu">
            <a>Обратная связь</a>
            <ul class="dropdown-menu">
                <li> <a href="http://goo.gl/forms/dGVJbUHgNm">Survey</a></li>
                <li> <a href="{{pathFor 'submitIdea'}}">Submit an Idea</a></li>
                <li> <a href="{{pathFor 'suggestFeature'}}">Suggest an feature</a></li>
            </ul>
        </li>
        <li> <a href="{{pathFor 'featuresDemoPage'}}">Features demo</a></li>
        <li> <a href="{{pathFor 'functionsHelp'}}">Functions help</a></li>
        <li class="divider"></li>
        <li class="dropdown-submenu">
            <a>Туториал</a>
            <ul class="dropdown-menu">
                <li> <a href='#' id='show-help'>Next Tutorial</a></li>
                <li class="divider"></li>
                {{#each tutorials}}
                    <li class="{{ activeTutorialStep }} tutorial"><a id='{{_id}}'>{{#if seenByUser}}{{title}}{{else}}<b>{{title}}</b>{{/if}}</a></li>
                {{/each}}
            </ul>
        </li>
    </ul>
</template>