<template name="typeMenu">
    <ul id="node-type-menu-{{_id}}"  class="node-type-menu dropdown-menu">
        {{> typeMenu_}}
    </ul>
</template>

<template name="typeMenu_">
        {{#each available_types}}
            <li class="{{#if eq ../node_attrs.type this.node_id}}active{{/if}}"><a class='set-node-type' data-type='{{this.node_id}}'>{{#if eq ../type this.node_id}}{{else}}mark as{{/if}} {{this.node_attrs.content}} <span class="glyphicon {{this.node_attrs.picture}}"></span></a></li>
        {{/each}}
</template>