<template name="widgetMenu">
    <ul id="node-shape-widget-menu-{{_id}}"  class="node-context-menu dropdown-menu">
      {{> widgetMenu_}}
    </ul>
</template>

<template name="widgetMenu_">
        <!--изменяет размер нода-->
      <!--<li> <a  id="make-fullscreen">Make fullscreen</a></li>-->
      <li> <a  id="make-fullscreen-2">Make fullscreen</a></li>
      <li> <a  id="edit-css-props">Show visual props</a></li>
      <li class="dropdown-submenu">
        <a tabindex="-1" >convert to ...</a>
        <ul class="dropdown-menu">
             {{#each avaible_types}}
                <li class="{{#if eq ../view_type this}}active{{/if}}"><a  class="convert-node-shape" data-type='{{this}}'>convert to {{this}}</a></li>
            {{/each}}
        </ul>
      </li>
      {{#if notViewMode }}
          <li class="dropdown-submenu">
            <a tabindex="-1" >convert edit to ...</a>
            <ul class="dropdown-menu">
                 {{#each avaible_types}}
                    <li class="{{#if eq ../edit_type this}}active{{/if}}"><a  class="convert-node-shape-edit" data-type='{{this}}'>convert to {{this}}</a></li>
                {{/each}}
            </ul>
          </li>
      {{/if}}
      <li class="dropdown-submenu">
        <a tabindex="-1" >clone as ...</a>
        <ul class="dropdown-menu">
             {{#each avaible_types}}
                <li> <a  class="clone-node-shape" data-type='{{this}}' >clone as {{this}}</a></li>
            {{/each}}
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a tabindex="-1">edit mode ...</a>
        <ul class="dropdown-menu">
             {{#each avaible_edit_modes}}
                <li class="{{#if eq ../widget_type type}}active{{/if}}"><a class="convert-widget-type" data-widget-id='{{_id}}'>convert to {{type}}</a></li>
            {{/each}}
        </ul>
      </li>
      {{#if representing_plot_id}}
        <li> <a  id="open-plot" href="{{pathFor 'plotTab' _id=representing_plot_id}}">Открыть</a></li>
      {{/if}}
      {{#if nodeHasAttr 'proccessed_by_embedly'}}
        <li> <a  id="recreate-embedly">Embedly обновить контент</a></li>
      {{/if}}
      {{#if nodeHasAttr 'proccessed_by_hypothes'}}
        <li> <a  id="recreate-hypothes">hypothes обновить контент</a></li>
      {{/if}}
      {{#if nodeHasAttr 'attrs.node_external_uri'}}
        <li> <a href="{{node_attrs.node_external_uri}}">Открыть в Интернете</a></li>
      {{/if}}
</template>