<template name="nsl_textarea_with_title_hidden">
    {{#if node_shape.title}}
        {{> ns_readonly content=node_shape.node_attrs.title}}
    {{/if}}

    <div style="height: 70%;">
        {{> ns_readonly content=node_shape.node_attrs.content}}
    </div>
</template>