
<template name="nsl_attribute_editor">
    <div class="scroll" style="height: inherit;">
        {{#each getAttrs}}
            {{#with getAttr ../node_shape this}}
                {{#if isObject}}
                    {{..}}<br>
                    <div style="padding-left: 10px">
                        <!--{{../../node_shape._id}}-->
                        {{> nsl_attribute_editor node_shape=this baseField=.. node_shape_id=../../node_shape._id ns_id=objectId baseFieldParent=getAttrs1}} <br>
                    </div>
                {{else}}
                     <label>{{..}}</label> {{> ns_input content=this field=..}}<br>
                {{/if}}
            {{/with}}
        {{/each}}
        <button class='add-attribute btn btn-default'>+</button>
        <button class='add-object btn btn-default'>+Obj</button>
    </div>

</template>