<template name="nsl_textarea_show_linked_user">
    {{> ns_input content=node_shape_title zoom=1 max_height='28px'}}
    <div style="height: calc(100% - 28px); background-color: inherit;">
        {{> ns_textarea content=getContent zoom=node_shape.zoom}}
    </div>
</template>