<template name="nsl_node_attribute_editor">
    <div class="scroll" style="height: inherit;">
        {{#each getAttrs}}
            {{#with getAttr ../node_shape this}}
                 <label>{{..}}{{> ns_input content=this field=..}}</label>
            {{/with}}
        {{/each}}
        <button class='btn btn-default'>+</button>
    </div>

</template>