<template name="nsl_readonly_with_title">
    {{> ns_input content=node_shape.node_attrs.title zoom=1 max_height='28px'}}
    <div class="scroll" style="height: calc(100% - 28px);">
        {{> ns_readonly content=node_shape.node_attrs.content zoom=node_shape.zoom}}
    </div>
</template>
