<template name="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse-2" data-target=".navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse-2 collapse-2">
            <!--тут было showHistory, убрал тк возможно из-за него тормозило -->

            <div class="container-fulid">
                {{#if currentUser }}
                    {{> showFooterByType}}
                {{/if}}
            </div>
        </div>
    </div>
</template>


<template name="showHistory">
    {{#each actions}}
        {{> simpleNodeShape}}
    {{/each}}
</template>


<template name="simpleNode">
    <span class='tag-readonly'>
        <a href='#' class='node_scroll {{#if isNodeSelectedById _id}}node_shape_selected{{/if}}'
                                  ondragstart="onDragStartNode(event)" data-node-id='{{_id}}'
                                  title='{{#if attrs.title}}{{attrs.title}}{{else}}{{#if attrs.content}}{{attrs.content}}{{else}}not found{{/if}}{{/if}}'>{{attrs.title}}
        {{attrs.content}}</a>
    </span>
</template>

