<template name="content">
    <!--список табов-->
    <!--{{> nsg_grid_list}}-->
    <div style='height: 100%;'>
        {{> nsg_list}}
    </div>
</template>


<!--TODO это брать из монги!-->
<template name="showPlotMenuByType">
    <div class='plot-menu nav navbar-nav'>
        {{#if isPlotView}}
            {{#if eq type 'nsg_graph_plot' }}
                {{> graph_plot}}
            {{else}}
                <!--неивестный тип плот - по умолчанию graph_plot-->
                {{> graph_plot}}
                    <!--<div class="placeholder">Unknown plot type! menu</div>-->
            {{/if}}
        {{else}}
            <!--plotlist-->
        {{/if}}
    </div>
</template>

<template name="showPlotPanelByType">
    <div class='plot-panel'>
        {{#if isPlotView}}
            <!--{{#if eq type 'nsg_graph_plot' }}-->
                <!--{{> graph_plot}}-->
            <!--{{else}}-->
                <!--&lt;!&ndash;неивестный тип плот - по умолчанию graph_plot&ndash;&gt;-->
                <!--{{> graph_plot}}-->
                    <!--&lt;!&ndash;<div class="placeholder">Unknown plot type! menu</div>&ndash;&gt;-->
            <!--{{/if}}-->
        {{else}}
            {{#if isPlotsView}}
                {{> plotsPanel}}
            {{else}}
                {{> otherPanel}}
            {{/if}}
        {{/if}}
    </div>
</template>

<template name="showFooterByType">
    <div class='plot-panel'>
        {{#if isPlotView}}
            {{> plotFooter }}
        {{else}}
            {{#if isPlotsView}}
                {{> plotsFooter}}
            {{else}}
                {{> otherFooter}}
            {{/if}}
        {{/if}}
    </div>
</template>

<!--Это враппер используется для показа плота напрямую - по идее в будующем его должен заменить node_shape_widget-->
<template name="showPlotByType">
    {{#if isDebug}}
        {{type}}
    {{/if}}
    <!--просто выбирает подходящий nsg-->
    <!--TODO не  type, а view_type?-->
     {{> UI.dynamic template=type}}
</template>

<template name="plotsAutoComplete">
    Plot: {{title}} {{content}}
</template>

<template name="plotAutoComplete">
    {{#with node_shape_id=_id}}
        {{> simpleNodeShape}}
    {{/with}}
</template>

<template name="mindTrail">
        <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
            {{> mindTrailActionTable}}
        </div><!--/span-->
      </div><!--/row-->
      <hr>
    </div>
</template>

<template name="mindTrailActionTable">
    <h1>MindTrail</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Date</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
    {{#each actions}}
        <tr>
            <td>{{action_type}}</td>
            <td title="{{date_added}}">
                {{dateAgo date_added}}
            </td>
            <td>{{getUserName user_id}}</td>
        </tr>
    {{else}}
            <div class="placeholder">Nothing</div>
    {{/each}}
      </tbody>
    </table>
  </div>

</template>


<template name="search">

</template>


<template name="notFound">
    Такой страницы не существует!
</template>

<template name="loading">
    {{> spinner}}
</template>