<head>
    <!--TODO отключил тк rawgihub перестал отдавать-->
   <!--<link rel="stylesheet" href="http://rawgithub.com/mistic100/jquery-highlighttextarea/master/jquery.highlighttextarea.css" />-->
   <!--<script src="http://rawgithub.com/mistic100/jquery-highlighttextarea/master/jquery.highlighttextarea.js"></script>-->
   <!--<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>-->
    <!--<script src="https://dl.dropboxusercontent.com/u/21436011/jquery.connect.js"></script>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js"></script>-->

    <!--TODO предполагалось использовать для выбора отрезков изображений, но не заработало-->
    <!--<link type="text/css" rel="stylesheet" href="js/annotorious/css/annotorious.css" />-->
    <!--<script type="text/javascript" src="js/annotorious/annotorious.min.js"></script>-->

    <!--TODO пока уберем. так как вызывает ошибку при вервичном рендеренге-->
    <!--<script type="text/javascript" src="js/html2canvas.svg.js1"></script>-->

  <title>GoldFish</title>
</head>