<template name="simplePlot">
        <div class='tag-readonly'>
            <a href='#' ondragstart="onDragStartPlot(event)" data-plot-id='{{_id}}' draggable="true">
            drag_Me
            </a>
            <a href="{{pathFor 'plotTab'}}" target="_blank">
                open
            </a>
            <div>
                {{> ns_readonly content=title}}
                {{> ns_readonly content=getChangeTime}}
                <div class="scroll" style="height: 100%; width: 100%;">
                    {{#if getPreviewImage}}
                        {{> ns_image external_uri=getPreviewImage}}
                    {{else}}
                        <div>preview is generating</div>
                    {{/if}}
                </div>
            </div>
        </div>
</template>

<template name="simplePlotInline">
    <div class='simple-plot-inline-search'>
        <a href='#' ondragstart="onDragStartPlot(event)" data-plot-id='{{_id}}' draggable="true">
            drag_Me
        </a>
        <a href="{{pathFor 'plotTab'}}" target="_blank">
            <div class="truncate-400" style="display: inline-block;">{{> ns_readonly content=title}}</div>
        </a>
    </div>
</template>


