
<template name="simpleNodeWithNodeShapes">
    <div class='simple-node-search'>
        {{>typeIconNode}} <a href='#' class='node_scroll_autocomplete {{#if isNodeSelectedById _id}}node_shape_selected{{else}}{{#if trash_only_nodeshapes}}node_trashed{{/if}}{{/if}}'
                                  ondragstart="onDragStartNode(event)" data-node-id='{{_id}}'
                                  title='{{#if attrs.title}}{{attrs.title}}{{else}}{{#if attrs.content}}{{attrs.content}}{{else}}not found{{/if}}{{/if}}'>
        <div class="truncate-450" style="display: inline-block;">{{attrs.title}} {{attrs.content}}</div></a>
         <br>
        {{#each nodeShapes}}
            {{#each $ this}}
                {{#if $first}}
                    {{!--TODO как его ратянуть?--}}
                    {{#with getNodeShapePlot}}
                        {{> simplePlotInline}}
                    {{/with}}
                {{else}}
                    {{#each $ this}}
                        {{#with this}}
                            {{> simpleNodeShapeWithData}}
                        {{/with}}
                    {{/each}}
                {{/if}}
            {{/each}}
        {{/each}}
    </div>
</template>


<template name="typeIconNode">
    <span>
        {{#if attrs.type}}
            <span class="glyphicon {{renderNodeAttribute attrs.type 'picture'}} glyphicon-20px" title='node type: {{renderNodeContent attrs.type}}'></span>
        {{else}}
            <span class="glyphicon glyphicon-info-sign glyphicon-20px"></span>
        {{/if}}
    </span>
</template>