<template name="attributesMenu">
    <li> <a href="{{pathFor 'submitIdea'}}">Добавить</a></li>
    <li> <a href="{{pathFor 'suggestFeature'}}">Вынести</a></li>
    <li> <a href="{{pathFor 'suggestFeature'}}">Показать</a></li>
    <li> <a href="{{pathFor 'suggestFeature'}}">Скрыть</a></li>
</template>
