<template name="evernoteApiProd">
  <h1>evernoteApiProd</h1>
  <h2>Authentication</h2>
  {{#if loggedIn}}
    You are connected! <button class='disconnect btn btn-warning'>Disconnect</button>
  {{else}}
     Click <a class='login'>here</a> to connect <br>
     Получить свой api ключ можно <a href="https://www.evernote.com/api/DeveloperToken.action" target="_blank">тут</a>
  {{/if}}
</template>