<template name="evernoteApi">
  <h1>Evernote settings</h1>
  {{#if error_on}}
    {{> error}}
  {{/if}}
  <h2>Authentication</h2>
  {{#if loggedIn}}
    {{> logout}}
    <h2>Notebooks</h2>
    <a class='refresh'>refresh</a><br>
    <a href="/export-form/">import notes</a><br>
    {{#if notebooks}}
      <ul>
        {{#each notebooks}}
          <li>{{name}} <button type="button" class="btn btn-default add-notebook">add to goldFish</button>
              </li>
        {{/each}}
      </ul>
    {{/if}}
  {{else}}
     Click <a class='login'>here</a> to connect Evernote.
  {{/if}}
  <hr/>
  <h2>Current status</h2>
  <ul>
    <li><b>NoteStore URL:</b> {{edamNoteStoreUrl}}</li>
    <li><b>Web API URL prefix:</b> {{edamWebApiUrlPrefix}}</li>
  </ul>
  <h3>Token Credentials:</h3>
  <ul>
    <li><b>token:</b> {{oauthAccessToken}}</li>
    <li><b>secret:</b> {{oauthAccessTokenSecret}}</li>
    <li><b>User ID:</b> {{edamUserId}}</li>
    <li><b>Expires:</b> {{edamExpires}}</li>
  </ul>
</template>

<template name="error">
  <h2>Error</h2>
  <p>{{errorMessage}}</p>
</template>

<template name="logout">
  Click <a href='/logout' class='logout'>here</a> to start over.
</template>

<template name="evernoteApiCallback">
    evernote callback
</template>
<template name="evernoteApiLogout">
    evernote logout
</template>