/*.uk-nestable-header	{}*/
/*.uk-nestable-header td,*/
/*.uk-nestable-item td	{overflow:hidden;padding:10px 15px;border-bottom:1px solid #ddd;vertical-align:top;*/
	/*box-sizing: border-box;*/
	/*-moz-box-sizing: border-box;*/
	/*-webkit-box-sizing: border-box;*/
/*}*/
/*.uk-nestable-header td {color:#333;background:#eee;overflow:hidden}*/
/*.uk-nestable-item:hover td	{background:#f5f5f5}*/
/*.uk-nestable-list	{padding-left:20px;}*/
/*.uk-nestable-item,*/
/*.uk-nestable-placeholder	{margin-bottom:0;padding:0;background:#fff;}*/
/*.uk-nestable li,*/
/*.uk-nestable-list li	{position:relative;}*/
/*[data-nestable-action]	{position:absolute;left:1px;top:10px}*/
/*.uk-nestable-handle	{font-size:1em;position:absolute;top:10px;left:15px;}*/

/*div.ellipsis	{text-overflow:ellipsis;overflow:hidden;*/
	/*box-sizing: border-box;*/
	/*-moz-box-sizing: border-box;*/
	/*-webkit-box-sizing: border-box;*/
/*}*/
/*.uk-nestable-item td:first-child div.ellipsis	{padding-left:20px}*/
