<template name="link_shape_cell">
    <div id="{{_id}}" class="{{#if isLinkShapeSelected}}selected{{/if}} {{#if has_new_version}}has-new-version{{/if}}"
         style="{{#if width}}width:{{width}}px;{{/if}} {{#if height}}height:{{height}}px;{{/if}}
         z-index: {{#if isLinkShapeSelected}}200{{else}}{{level}}{{/if}};">
        {{#if isLinkShapeSelected}}
            {{> halos}}
        {{/if}}
        <textarea>{{title}}</textarea>
    </div>
</template>

<template name="link_shape_cell_related">
    <div id="{{_id}}" class="{{#if isLinkShapeSelected}}selected{{/if}} {{#if has_new_version}}has-new-version{{/if}}"
         style="{{#if width}}width:{{width}}px;{{/if}} {{#if height}}height:{{height}}px;{{/if}}
         z-index: {{#if isLinkShapeSelected}}200{{else}}{{level}}{{/if}};">
        {{#if isLinkShapeSelected}}
            {{> halos}}
        {{/if}}
        <div>{{title}}</div>
    </div>
</template>
