<template name="link_shape_halos">
    <div class="halo-add-link-link" style="left:-25px; top:-3px; background-color: rgb(94, 189, 41);" title="add link"></div>
    <div class="halo-hide-node" style="right:19px; bottom:-25px; background-color: rgb(139,36,60);" title="hide link"></div>
    <div class="halo halo-delete-link" style="right:-3px; bottom:-25px; background-color: rgb(228, 28, 74);" title="delete link"></div>
</template>

<template name="link_shape_text">
    <div id="{{_id}}" class="link-shape-input {{#if istmpLinkShape}}tmp-link-shape-input{{/if}} ui-widget-content {{#if isLinkShapeSelected}}selected{{/if}} {{#if has_conflict}}has-conflict{{/if}} {{#if has_new_version}}has-new-version{{/if}}"
         style="background: transparent; left:{{divide start_x end_x 2}}px; top:{{divide start_y end_y 2}}px;
         {{#if width}}width:{{width}}px;{{/if}} {{#if height}}height:{{height}}px;{{/if}}
         z-index: {{#if isLinkShapeSelected}}199{{else}}{{level}}{{/if}};">
            {{#if isLinkShapeSelected}}
                {{> link_shape_halos}}
            {{/if}}
        <input type="text" class="input-small link-shape-input" placeholder="add name..." value="{{title}}" style="background: transparent;"/>
    </div>
</template>

<template name="link_shape">
    <line x1="{{start_x}}" y1="{{start_y}}" x2="{{end_x}}" y2="{{end_y}}" style="stroke-width:2;  marker-start: url(#arrow10-8-right); marker-end: url(#arrow10-8-right);" class="link {{#if istmpLinkShape}}tmp-link{{/if}} {{#if isAutoLinkShape}}tmp-link-auto{{/if}}"/>
</template>
