<template name="googleCalendar">
  <h1>Google Calendar settings</h1>
  {{#if error_on}}
    {{> dropBoxApiError}}
  {{/if}}
  <h2>Authentication</h2>
  {{#if loggedIn}}
    You are connected!

    <h2>Notebooks</h2>
    <a class='refresh'>refresh</a>
    {{#if googleCalendars}}
      <ul>
        {{#each googleCalendars.items}}
          <li>{{id}} {{summary}} {{primary}} {{accessRole }}<button type="button" class="btn btn-default add-notebook">add to goldFish</button>
              </li>
        {{/each}}
      </ul>
    {{/if}}
  {{else}}
     Click <a class='login'>here</a> to connect to google calendar.
  {{/if}}
  <hr/>
  <h2>Current status</h2>
  <ul>
    <li><b>NoteStore URL:</b> {{edamNoteStoreUrl}}</li>
    <li><b>Web API URL prefix:</b> {{edamWebApiUrlPrefix}}</li>
  </ul>
  <h3>Token Credentials:</h3>
  <ul>
    <li><b>User ID:</b> {{edamUserId}}</li>
    <li><b>Expires:</b> {{edamExpires}}</li>
  </ul>
</template>
