<template name="embedlyApi">
  <h1>embedlyApi</h1>
  <h2>Authentication</h2>
  {{#if loggedIn}}
    You are connected! {{login}}
  {{else}}
     Click <a class='login'>here</a> to connect
  {{/if}}
</template>
