<template name="hypothesApi">
  <h1>hypothesApi</h1>
  <h2>Authentication</h2>
  {{#if loggedIn}}
    You are connected! {{login}} <button class='disconnect btn btn-warning'>Disconnect</button>
    <a href="https://hypothes.is/api/search?limit=200&user={{login}}">проверка страниц</a>
  {{else}}
     Click <a class='login'>here</a> to connect
  {{/if}}
</template>
