<template name="nsl_iframe_title">
        {{> ns_input content=node_shape.node_attrs.title zoom=1 max_height='28px'}}
        <div class="scroll" style="height: calc(100% - 28px);">
            <!--TODO возможно этот див показывать только при соединении линий-->
            <div class="blocker" style="position: absolute; top: 28px; left: 0; width: {{node_shape.width}}px; height: calc(100% - 28px); z-index: {{node_shape.level}}">
            </div>
            {{> ns_iframe external_uri=node_shape.node_attrs.node_external_uri zoom=node_shape.zoom _id=node_shape._id}}
        </div>
</template>
