<template name="nsl_iframe_preview">
        {{> ns_readonly content=node_shape.node_attrs.node_external_uri max_height='15px'}}
        <div class="scroll" style="height: calc(100% - 28px);">
            {{#if getContent}}
                {{> ns_readonly content=getContent zoom=node_shape.zoom}}
            {{else}}
                <div>preview is generating</div>
            {{/if}}
        </div>
</template>
