<template name="nsl_iframe">
        <div class="scroll" style="height: inherit;">
            <!--этот див показывать только при соединении линий иначе завершить соединение по получится-->
            {{#if eq getCurrentPlotModeNs 'connecting link'}}
                <div class="blocker" style="position: absolute; top: 0; left: 0; width: {{node_shape.width}}px; height: {{node_shape.height}}px; z-index: {{node_shape.level}}">
                </div>
            {{/if}}
            {{> ns_iframe external_uri=node_shape.node_attrs.node_external_uri zoom=node_shape.zoom _id=node_shape._id}}
        </div>
</template>
