<template name="nsl_image_url">
    {{> ns_input content=node_shape.node_attrs.node_external_uri zoom=1 max_height='28px'}}
    <div class="scroll" style="height: calc(100% - 28px);">
        {{> ns_image external_uri=node_shape.node_attrs.node_external_uri zoom=node_shape.zoom}}
    </div>
</template>
