<template name="similarNodes">
    {{#each nodes}}
        {{> similarNode}}
    {{/each}}
</template>

<template name="similarNode">
    <button class='btn btn-default'>Объединить</button> <button class='btn btn-default'>Закрыть</button>
    <div style="background-color:  gray; padding: 10px;">
        <div style="padding: 5px">
            {{> simpleNodeWithNodeShapes}}
        </div>
            {{#each similarNodes}}
                Похожесть:
                {{similarity.partial_ratio}} {{similarity.ratio}} {{similarity.token_set_ratio}} {{similarity.token_sort_ratio}}
                <div style="padding: 5px">
                    {{> simpleNodeWithNodeShapes}}
                </div>
            {{/each}}
    </div>
</template>