<template name="nsl_plot_with_title">
    {{> ns_input content=getTitle zoom=1 max_height='28px' class='nsl-plot-input'}}
    <div class="scroll" style="height: inherit; height: calc(100% - 28px);">
        {{#unless isOpened}}
            {{#if eq getCurrentPlotModeNs 'connecting link'}}
                <div class="blocker" style="position: absolute; top: 0; left: 0; width: {{node_shape.width}}px; height: {{node_shape.height}}px; z-index: {{node_shape.level}}">
                </div>
            {{/if}}
        {{/unless}}
        {{#if eq nodePlot 'same'}}
            <div>same plot</div>
        {{/if}}
        {{#with nodePlot}}
            {{>ns_wrapper}}
        {{/with}}
    </div>
</template>
