<!--плот может быть представлен на нод-шейпе сейчас это нод со специальным типом
Сейчас зум подсовывается в Js в nodePlot
-->
<template name="nsl_plot">
        <div class="scroll" style="height: inherit;">
            {{#unless isOpened}}
                {{#if eq getCurrentPlotModeNs 'connecting link'}}
                    <div class="blocker" style="position: absolute; top: 0; left: 0; width: {{node_shape.width}}px; height: {{node_shape.height}}px; z-index: {{node_shape.level}}">
                    </div>
                {{/if}}
            {{/unless}}
            {{#if eq nodePlot 'same'}}
                <div>same plot</div>
            {{/if}}
            {{#with nodePlot}}
                {{>ns_wrapper}}
            {{/with}}
        </div>
</template>