<template name="nsl_plot_with_title_ext_button">
    {{> ns_input content=node_shape.node_attrs.title max_width='40%'}}
    {{#with nodePlot}}
        <a href="{{pathFor 'plotTab'}}" title='open in new window'>{{title}}</a>
    {{/with}}
    <div class="scroll" style="height: inherit; height: calc(100% - 28px);">
        <!--TODO возможно этот див показывать только при соединении линий-->
        <div class="blocker" style="position: absolute; top: 0; left: 0; width: {{node_shape.width}}px; height: {{node_shape.height}}px; z-index: {{node_shape.level}}">
        </div>
        {{#with nodePlot}}
            {{>ns_wrapper}}
        {{/with}}
    </div>
</template>
