<template name="nsl_plot_image_preview">
    <div style='height: 100%; width: 100%; overflow: auto;'>
        {{> ns_readonly content=node_shape.node_attrs.title max_height='28px'}}
        <div class="scroll" style="height: calc(100% - 28px); width: 100%;">
            {{#if getPreviewImage}}
                {{> ns_image external_uri=getPreviewImage}}
            {{else}}
                <div>preview is generating</div>
            {{/if}}
        </div>
    </div>
</template>
