<!--TODO add to NodeTypesToWidgets-->
<template name="nsl_plot_folder">
    {{#if isOpened}}
        {{> nsl_plot}}
    {{else}}
        <div class="scroll" style="height: inherit;">
            {{> ns_readonly content=node_shape.node_attrs.title}}
        </div>
    {{/if}}
</template>