<template name="connectedServices">
  <h1>Connected Services</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Service name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each connected_services}}
          <tr>
            {{> serviceStatus}}
            <td>
                {{# if isConnected}}
                    <!--<button class="btn">Disable</button>-->
                    <div>connected</div>
                    <!--<button class="btn">Prolongate subscribe</button>-->
                {{ else }}
                    <!--<button class="btn">Connect</button>-->
                    <div>not connected</div>
                {{/ if}}
              </td>
            </tr>
        {{else}}
                <div class="placeholder">No services</div>
        {{/each}}
      </tbody>
    </table>
  </div>
    <button class="btn not-done-label">Add new service...</button>
</template>

<template name="serviceStatus">
    <td>{{#if url}}<a href="{{url}}">{{name}}</a>{{else}}{{name}}{{/ if}}</td>
</template>


<template name="connectedExtensions">
  <h1>Расширения</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Service name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each available_extensions}}
          <tr>
            {{> serviceStatus}}
            <td>
                {{# if isConnected}}
                    <!--<button class="btn">Disable</button>-->
                    <div>connected</div>
                    <!--<button class="btn">Prolongate subscribe</button>-->
                {{ else }}
                    {{# if connect_action}}
                        <button class="btn {{connect_action}}">Connect</button>
                    {{/ if}}
                    <div>not connected</div>
                {{/ if}}
              </td>
            </tr>
        {{else}}
                <div class="placeholder">No services</div>
        {{/each}}
      </tbody>
    </table>
  </div>
    <button class="btn send-extension-request">Добавить свое расширение</button>
</template>

<template name="authorizedServices">
  <h1 class='not-done-label'>Authorized Services</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Service name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each authorized_services}}
            <tr>
                {{> serviceStatus}}
                <td>
                  {{# if isConnected}}
                      <button class="btn">Disable</button>
                      <button class="btn">Prolongate subscribe</button>
                  {{ else }}
                      <button class="btn">Connect</button>
                  {{/ if}}
                </td>
            </tr>
        {{else}}
                <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
        {{/each}}
      </tbody>
    </table>
  </div>

    <button class="btn">Add new service...</button>
</template>

<!--Не работает!!!-->
<!--<template name="_loginButtonsAdditionalLoggedInDropdownActions">-->
    <!--<button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>-->
<!--</template>-->


<template name="profileSideBar">
    <div class="col-sm-3 col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header">Аккаунт</li>
          <li class="{{#if isActive 'ProfileApi'}}active{{/if}}"><a href="{{pathFor 'profileApi'}}">Общая информация</a></li>
          <li class="{{#if isActive 'NotificationSettings'}}active{{/if}}"><a href="{{pathFor 'notificationSettings'}}">Напоминания</a></li>
          <li class="{{#if isActive 'WidgetSettings'}}active{{/if}}"><a href="{{pathFor 'widgetSettings'}}">Настойки виджетов</a></li>
          <li class="{{#if isActive 'CronSettings'}}active{{/if}}"><a href="{{pathFor 'cronSettings'}}">Повторяющиеся задания (cron)</a></li>
          <li class="nav-header {{#if isFilterSelected}}active{{/if}}">API</li>
          <li class="{{#if isActive 'StorageSettings'}}active{{/if}}"><a href="{{pathFor 'storageSettings'}}">Место хранения</a></li>
          <li class="{{#if isActive 'RestApi'}}active{{/if}}"><a href="{{pathFor 'RestApi'}}">REST API</a></li>
        </ul>
    </div>
</template>

<template name="profileApi">
    {{#settingsContainer}}
      {{> connectedServices}}
      {{> connectedExtensions}}
      {{> authorizedServices}}
    {{/settingsContainer}}
</template>

