<template name="RestApi">
    {{#settingsContainer}}
      <h1>Rest API</h1>
        Для Вашего удобства goldfish обладает<br>
     webApi - уже можнно пользоваться, например так:
    А получить список плотов можно так
    <pre>curl -H "X-Auth-Token: {{authorizationToken}}" http://goldfish.meteor.com/api/plots</pre>
    Получить информацию по конретному плоту
    <pre>curl -H "X-Auth-Token: {{authorizationToken}}" http://goldfish.meteor.com/api/plots/plotID </pre>
    Создать плот
    <pre>curl -H "X-Auth-Token: {{authorizationToken}}" -d "{\"title\": \"Test Plot\", \"for_user\": \"{{userId}}\"}" http://goldfish.meteor.com/api/plots/</pre><br>
    Сейчас это апи использует плагин <a href="http://goldfish.ivan133.ru/%D0%B6%D1%83%D1%80%D0%BD%D0%B0%D0%BB-%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8-5/">GoldFish Research</a>.

    <h2>Параметры</h2>
    Base url: {{host}}<br>
    Authorization token: {{authorizationToken}}<br>
    UserId: {{userId}}<br>
    <br>

    Сейчас АПИ работает для всего, кроме линков: <br>
    plots node_shapes link_shapes nodes
    {{/settingsContainer}}
</template>
