<template name="settingsContainer">
    <div class="container-fluid">
      <div class="row">
            {{> profileSideBar}}
        <div class="col-md-9">
            {{> Template.contentBlock}}
        </div>
      </div>
    </div>
</template>
