<template name="storageSettings">
    {{#settingsContainer}}
        <h1>storage Settings</h1>
        <br>
        <div class="progress">
          <div class="bar bar-warning" style="width: 20%;">2 of 10 gb</div>
        </div>

        {{#each nodeStorageTypes}}
            {{type}}
        {{/each}}
        <br>
        NodeShapes total: {{getCount 'nodeshapes-count'}}   <a class='not-done-label'>delete</a>
        <br>
        Node total: {{getCount 'nodes-count'}} <a class='not-done-label'>delete</a>
        <br>
        Plots total: {{getCount 'plots-count'}} <a class='not-done-label'>delete</a>
        <br>
        LinkShapes total: {{getCount 'linkshapes-count'}}   <a class='not-done-label'>delete</a>
        <br>
        Links total: {{getCount 'links-count'}}   <a class='not-done-label'>delete</a>
        <br>
        Actions total: {{getCount 'actions-count'}}   <a class='delete-some-history'>delete</a>
    {{/settingsContainer}}
</template>
