<template name="widgetSettings">
  {{#settingsContainer}}
    <h1>widgetSettings</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Node Type</th>
            <th>Widgets</th>
          </tr>
        </thead>
        <tbody>
          {{#each node_types}}
          <tr>
            <td>{{type}}</td>
            <td>
              {{#each widgets.avaible_types}}
              <tr>
                <td>
                  {{this}}
                </td>
              </tr>
              {{/each}}
            </td>
          </tr>
          {{else}}
          <div class="placeholder">Nothing configured</div>
          {{/each}}
        </tbody>
      </table>
    </div>
    <button class="btn not-done-label">Add new node type...</button>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Plots</th>
            <th>Default Widget</th>
            <th>Node Type</th>
          </tr>
        </thead>
        <tbody>
          {{#each nodeshape_adapters}}
          <tr>
            <td>{{type}}</td>
            <td>
              {{ defaults.default_widget }}
            </td>
            <td>
              {{ defaults.default_content_type }}
            </td>
          </tr>
          {{else}}
          <div class="placeholder">Nothing configured</div>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/settingsContainer}}
</template>