<template name="nsg_table_plot_content">
    {{!
        выводит так нод, "имя связи", нод2
        например, фильм Сема - 2 -> оценка
        node_shape_group - nsg_table_plot_content
        node_shape_adapter - nsa_cell <- выоводит захардкоженные аттрибуты нода title
            link_shape_cell <- выводит название линка
            этого сейчас нет
             node_shape_menu
             node_shape_widget
                ns_logic ...
    }}
        <div class="content" style="cursor: {{getCursorForState}};">
            <table style="width:300px">

                <tr>
                    <td style="width: 150px"> Nodes </td>
                    {{#each node_shapes_cols}}
                        {{#if eq view_type 'cell' }}
                            <td>{{> nsa_cell}}</td>
                        {{else}}
                           <!--неивестный тип плот - по умолчанию graph_plot-->
                            <td>{{> nsa_cell}}</td>
                        {{/if}}
                    {{else}}
                            <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
                    {{/each}}
                </tr>
                {{#each node_shapes_rows}}
                    <tr>
                        {{#if eq view_type 'cell' }}
                            <td>{{> nsa_cell}}</td>
                        {{else}}
                           <!--неивестный тип плот - по умолчанию graph_plot-->
                            <td>{{> nsa_cell}}</td>
                        {{/if}}
                        {{#each getLinks}}
                            <td>{{> link_shape_cell}} </td>
                        {{/each}}
                    </tr>
                {{else}}
                        <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
                {{/each}}

            </table>
        </div>
</template>