<template name="nsg_table_plot">
    {{!
        node_shape_group - nsg_table_plot
        node_shape_adapter - nsa_row_item <- выоводит захардкоженные аттрибуты нода в строчку
            этого сейчас нет
             node_shape_menu
             node_shape_widget
                ns_logic ...
    }}
    <div class="content" style="cursor: {{getCursorForState}};">
        <table>
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                </tr>
                {{#each node_shapes}}
                       {{> nsa_row_item}}
                {{else}}
                        <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>