<template name="nsg_dynamic_table_plot">
    {{!
        node_shape_group - nsg_dynamic_table_plot
        node_shape_adapter - nsa_dynamic_row_item <- выоводит аттрибуты нода в строчку, из plot.settings.columns
            этого сейчас нет
             node_shape_menu
             node_shape_widget
                ns_logic ...
    }}
    <div class="content" style="cursor: {{getCursorForState}};">
        {{#if settings.columns}}
            <table>
                <tbody>
                    <tr>
                       {{#each settings.columns}}
                        <th>{{this}}</th>
                        {{/each}}
                    </tr>
                    {{#each node_shapes}}
                           {{> nsa_dynamic_row_item}}
                    {{else}}
                            <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
                    {{/each}}
                </tbody>
            </table>
            <button class='btn btn-default'>change columns</button>
        {{else}}
            <button class='btn btn-default'>add columns</button>
        {{/if}}
    </div>
</template>