<template name="nsg_table_plot_full">
    {{!
            node_shape_group - nsg_dynamic_table_plot
            node_shape_adapter - nsa_dynamic_row_item
                этого сейчас нет
            nsa_table_cell_item
                 node_shape_menu - ns_row_item_get_menu
                 node_shape_widget
                    ns_logic ...

    в tree items это иерархическая структура из нодшейпов
            тут должно быть так же - нужно построить матрицу из нодшейпов!
            [col1,   col2]
            [ns1,    ns2]
            [ns2,    null]

            в col1 берутся все нодшейпы, без связей

            проблемка в том, что html таблица строится по рядам

    }}
    <div class="content" style="cursor: {{getCursorForState}};">
        <table>
            <tbody>
                <tr>
                   {{#each columns_names}}
                        <th>{{this}}</th>
                    {{/each}}
                </tr>
                {{! [ns1,    ns2], [ns2,    null] }}
                {{#each node_shapes_rows}}
                    {{> row_item}}
                {{else}}
                        <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
                {{/each}}
            </tbody>
        </table>
        <button class='btn btn-default change-cols'>change columns</button>
    </div>
</template>

<template name="row_item">
    <tr>
        {{! [ns1,    ns2]}}
        {{#each this}}
            {{#if this}}
                <td>{{>nsa_cell_item}}</td>
            {{else}}
                <td style="text-align: center;">-</td>
            {{/if}}
        {{/each}}
    </tr>
</template>
