
<template name="node_shape_widget">
    {{#if eq widget_type 'view_and_edit' }}
        {{#if isEditing}}
            {{#if isDebug}}
                 edit
            {{/if}}
            <!--режим редактирования (edit_type)-->
            {{> render_edit_widget}}
        {{else}}
            {{#if isDebug}}
                view
            {{/if}}
            <!--это режим просмотра view_type-->
            {{> render_simple_ns_widget}}
        {{/if}}
    {{else}}
        {{#if eq widget_type 'view_and_edit_external' }}
            {{#if isEditing}}
                {{#if ExternalEditing}}
                    {{#if isDebug}}
                         edit external
                    {{/if}}
                    <!--внешнее редактирование edit_type_external-->
                    {{> render_edit_external_widget}}
                {{else}}
                    {{#if isDebug}}
                         view-1
                    {{/if}}
                    <!--это режим просмотра так как редактирование будет в отдельном окне показываться логикой
                    самого плота то есть view_type вместо edit_type-->
                    {{> render_simple_ns_widget}}
                {{/if}}
            {{else}}
                {{#if isDebug}}
                    view-2
                {{/if}}
                <!--это режим просмотра view_type-->
                {{> render_simple_ns_widget}}
            {{/if}}
        {{else}}

            {{#if isDebug}}
                view only
            {{/if}}
            <!--это режим просмотра view_type-->
            {{> render_simple_ns_widget}}
        {{/if}}
    {{/if}}
</template>

<template name="render_simple_ns_widget">
    {{#if isDebug}}
        render_simple_ns_widget
    {{/if}}
    {{> UI.dynamic template='ns_logic' data=dataContext}}
</template>

<template name="render_edit_widget">
    {{> UI.dynamic template='ns_logic' data=dataContext}}
</template>

<template name="render_edit_external_widget">
    <div class='external_edit'>
        {{> UI.dynamic template='ns_logic' data=dataContext}}
    </div>
</template>