<template name="nsa_grid_item">
    <div class="product">

        <div class="product-title">
            <a href="{{pathFor 'plotTab'}}" title='open in new window'>{{node_attrs.title}}</a></div>
        <div class="product-image" style="height:{{height}}px;">
            {{> node_shape_widget}}
        </div>
        <!--<div class="product-text">-->
            <!--<div> some description</div>-->
        <!--</div>-->
    </div>
</template>