<!--По идее нужно сделать отдельный адаптер, но тут не вижу смысле усложнять, тк ничего не меняется кроме аттрибута position:fixed;-->
<template name="nsa_graph_absolute">
    <div id="{{_id}}" class="node {{#if isFullScreen}}fullscreen{{/if}}"
         style="left:{{x}}px; top:{{y}}px; padding: 20px;
         {{#if width}}width:{{plus width 40}}px;{{/if}} {{#if height}}height:{{plus height 40}}px;{{/if}} {{#if is_fixed}}position:fixed;{{/if}}
         z-index: {{#if isNodeShapeSelected}}200{{else}}{{level}}{{/if}};">
        {{#if isDebug}}
            nsa_graph_absolute
        {{/if}}
        {{> ns_halos_get_menu}}
        <div class="node-content {{#if istmpNodeShape}}tmp-node{{/if}} ui-widget-content {{#if node_attrs.resolved}}resolved{{/if}} {{#if isNodeShapeSelected}}selected{{/if}} {{#if isNodeShapeSelectedMultiple}}multiple-selected{{/if}} {{#if has_conflict}}has-conflict{{/if}} {{#if has_new_version}}has-new-version{{/if}}" style="{{#if width}}width:{{width}}px;{{/if}} {{#if height}}height:{{height}}px;{{/if}}">
            {{> node_shape_widget}}
        </div>
    </div>
</template>
