<template name="nsa_tree_item">
    <div id="{{_id}}" class="{{#if istmpNodeShape}}tmp-node{{/if}} list-item ui-widget-content {{#if node_attrs.resolved}}resolved{{/if}} {{#if isNodeShapeSelected}}selected{{/if}} {{#if isNodeShapeSelectedMultiple}}multiple-selected{{/if}} {{#if has_conflict}}has-conflict{{/if}} {{#if has_new_version}}has-new-version{{/if}}  {{#if isFullScreen}}fullscreen{{/if}}"
         style="
         {{#if width}}width:{{#if isNumber width}}{{width}}px{{else}}{{width}}{{/if}};{{/if}}
         {{#if height}}height:{{#if isNumber height}}{{height}}px{{else}}{{height}}{{/if}};{{/if}}
         z-index: {{#if isNodeShapeSelected}}200{{else}}{{level}}{{/if}};
                 position: relative;
                 ">
        {{> ns_list_get_menu}}
        {{> node_shape_widget}}
    </div>
</template>