<!--TODO это тоже nsg!-->
<template name="nsa_dynamic_row_item">
    <tr id="{{_id}}" class="{{#if istmpNodeShape}}tmp-node{{/if}} list-item ui-widget-content {{#if isNodeShapeSelected}}selected{{/if}} {{#if has_conflict}}has-conflict{{/if}} {{#if has_new_version}}has-new-version{{/if}}  {{#if isFullScreen}}fullscreen{{/if}}"
         style="left:{{x}}px; top:{{y}}px;
         {{#if width}}width:{{width}}px;{{/if}} {{#if height}}height:{{height}}px;{{/if}}
         z-index: {{#if isNodeShapeSelected}}200{{else}}{{level}}{{/if}};">
            {{#each ../settings.columns}}
                   <td>{{getAttr .. this}}</td>
            {{/each}}
    </tr>
</template>