<template name="nsa_list_item">
    <div id="{{_id}}" class="{{#if istmpNodeShape}}tmp-node{{/if}} list-item ui-widget-content {{#if isNodeShapeSelected}}selected{{/if}} {{#if has_conflict}}has-conflict{{/if}} {{#if has_new_version}}has-new-version{{/if}}  {{#if isFullScreen}}fullscreen{{/if}}"
         style="
         {{#if width}}width:{{width}}px;{{/if}} {{#if height}}height:{{height}}px;{{/if}}
         z-index: {{#if isNodeShapeSelected}}200{{else}}{{level}}{{/if}};
                 position: relative;">
        {{> ns_list_get_menu}}
        {{> node_shape_widget}}
    </div>
</template>