<template name="nsa_cell_item">
    <span class="glyphicon glyphicon-move"></span>
    <span class="glyphicon glyphicon-chevron-down" title="добавить связь"></span>
    {{#if isNodeShapeHasOutgoingLinks}}
        <span class="glyphicon glyphicon-resize-full" title="{{#each NodeShapeGetOutgoingLinks }} {{title}} {{/each }}"></span>
    {{/if}}
    {{#if isNodeShapeHasIncomingLinks}}
        <span class="glyphicon glyphicon-resize-small" title="{{#each NodeShapeGetIncomingLinks }} {{title}} {{/each }}"></span>
    {{/if}}
    <div id="{{_id}}" class="{{#if istmpNodeShape}}tmp-node{{/if}} list-item ui-widget-content {{#if isNodeShapeSelected}}selected{{/if}} {{#if has_conflict}}has-conflict{{/if}} {{#if has_new_version}}has-new-version{{/if}}  {{#if isFullScreen}}fullscreen{{/if}}"
         style="
         {{#if width}}width:{{width}}px;{{/if}} {{#if height}}height:{{height}}px;{{/if}}
         z-index: {{#if isNodeShapeSelected}}200{{else}}{{level}}{{/if}};">
        {{> node_shape_widget}}
    </div>
    {{> ns_cell_item_get_menu}}
</template>

<template name="ns_cell_item_get_menu">
    <!--TODO что то там-->
</template>