<template name="ns_checklist_get_menu">
    {{!--тут мы видим пример использования nsl внутри меню--}}
    <span style="position: absolute;left: -15px;top: 15px;">
        {{>nsl_checkbox_only node_shape=this}}
    </span>

    <span class="glyphicon glyphicon-move tree-move" style="position: absolute;right: -15px;"></span>
    <span class="glyphicon glyphicon-chevron-down tree-menu" title="добавить связь" style="position: absolute;right: -30px;">
        <div>
            {{>widgetMenu}}
        </div>
    </span>
    {{#if isNodeShapeHasOutgoingLinks}}
        <span class="glyphicon glyphicon-resize-full" style="position: absolute;right: -15px;top: 15px;" title="{{#each NodeShapeGetOutgoingLinks }} {{title}} {{/each }}"></span>
    {{/if}}
    {{#if isNodeShapeHasIncomingLinks}}
        <span class="glyphicon glyphicon-resize-small" style="position: absolute;right: -30px;top: 15px;" title="{{#each NodeShapeGetIncomingLinks }} {{title}} {{/each }}"></span>
    {{/if}}
</template>