<template name="ns_halos_get_menu">
    {{#if isFullScreen}}
        <button id='hide-fullscreen' class='btn btn-default'>Hide FullScreen</button>
    {{else}}
        {{#if isNodeShapeSelected}}
            {{> halos}}
            {{> showTags}}
        {{/if}}
    {{/if}}

    {{> dataTypeIcon}}
    {{> wigetTypeIcon}}
    {{> typeIcon}}
    {{> nodeShapeTypeIcon}}
    <!--{{> protoIcon}}-->

    <!--TODO это что? видимо не доленные оповещения. По идее сейчас должно показываться через halo-->
    {{#if has_suggestions}}
        {{> notificationTypeIcon}}
    {{/if}}
</template>