<template name="ns_list_get_menu">
    <span class="glyphicon glyphicon-move tree-move" style="position: absolute;right: -15px;"></span>
    <span class="glyphicon glyphicon-chevron-down tree-menu" title="добавить связь" style="position: absolute;right: -30px;">
        <div>
            {{>widgetMenu}}
        </div>
    </span>
    {{#if isNodeShapeHasOutgoingLinks}}
        <span class="glyphicon glyphicon-resize-full" style="position: absolute;right: -15px;top: 15px;" title="{{#each NodeShapeGetOutgoingLinks }} {{title}} {{/each }}"></span>
    {{/if}}
    {{#if isNodeShapeHasIncomingLinks}}
        <span class="glyphicon glyphicon-resize-small" style="position: absolute;right: -30px;top: 15px;" title="{{#each NodeShapeGetIncomingLinks }} {{title}} {{/each }}"></span>
    {{/if}}
    {{#if isNodeShapeSelected}}
        <span class="glyphicon glyphicon-arrow-left move-left" style="position: absolute;right: -15px; top: 30px;"></span>
        <span class="glyphicon glyphicon-arrow-right move-right" style="position: absolute;right: -30px; top: 30px;"></span>
        <span class="glyphicon glyphicon-arrow-up move-up" style="position: absolute;right: -45px; top: 30px;"></span>
        <span class="glyphicon glyphicon-arrow-down move-down" style="position: absolute;right: -60px; top: 30px;"></span>
    {{/if}}
</template>