<template name="featuresDemoPage">
  <div class="container">
    <div class="span9">
        {{> _featuresDemoPage}}
    </div>
  </div>
</template>

<template name="_featuresDemoPage">
  <a>"Открыть песочницу"</a> <a>"Очистить песочницу"</a>
    <br>
   <h1>Плоты</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Plots</th>
          <th>Default Widget</th>
          <th>Node Type</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
    {{#each nodeshape_adapters}}
        <tr>
            <td>{{type}}</td>
            <td>
                {{ defaults.default_widget }}
            </td>
            <td>
                {{ defaults.default_content_type }}
            </td>
            <td>
                 {{#if example_plot_id}}
                    {{PlotName}} <a href="{{pathFor 'plotTab' _id=this.example_plot_id}}">View</a> <button class='btn btn-default create'>Recreate</button>
                 {{else}}
                    <button class='create btn btn-default'>Create</button>
                 {{/if}}
            </td>
        </tr>
    {{else}}
            <div class="placeholder">Nothing configured</div>
    {{/each}}
      </tbody>
    </table>
  </div>

    <h1>Виджеты</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Node Type</th>
          <th>Widgets</th>
        </tr>
      </thead>
      <tbody>
    {{#each node_types}}
        <tr>
            <td>{{type}}</td>
            <td>
                {{#each widgets.avaible_types}}
                    <tr>
                        <td>
                           {{this}}
                        </td>
                        <td>
                         {{#if example_node_shape_id}}
                            {{PlotName}} <a href="{{pathFor 'plotTab' _id=this.example_plot_id}}">View</a> <button class='create btn btn-default'>Recreate</button>
                         {{else}}
                            <button class='create-node btn btn-default' data-type='{{../type}}' data-widget='{{this}}'>Create</button>
                         {{/if}}
                         </td>
                    </tr>
                {{/each}}
            </td>
        </tr>
    {{else}}
            <div class="placeholder">Nothing configured</div>
    {{/each}}
      </tbody>
    </table>
  </div>

    <h1>Другие фичи</h1>

    <div class="not-done-label">
        Настройка внешнего вида нода<br>
        Аттрибуты<br>
        Клоны<br>
        Виртуальные аттрибуты<br>
        связь между нодами<br>
        ссылка на фрагмент<br>
        нод картинка<br>
        нод url<br>
        нод PDF<br>
        работа с API<br>
        клоны link shapes<br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</template>