<template name="functionsHelp">
  <div class="container">
      <div>Some of the interface is still in development, so there are many text comands not inmplemented
      in interface yet. You can write them in browser console (with autocomplete).
          Here most recent comands:
          <ul>
            {{#each getFunctions}}
                <li>{{{this}}}</li>
            {{/each}}
          </ul>
      </div>
  </div>
</template>