<template name="mainConcept">
  <div class="content-with-padding">

      <h2>Описание проекта в 2х словах</h2>
Идея, вдохновленная гипотетической системой Memex, которая никогда так и не была создана.<br>
Основная идея - запись и упорядочивание мыслей - ни заметок, ни документов, а именно мыслей и концептов.<br>
Важным моментом является поддержка связей между заметками, а так же сохранение контекста.
  Так же важно, чтобы содержание нода, показывалалось сразу (обычно показывается только заголовок, чтобы увидеть
      содержание нужно кликнуть на нод).<br>
      Основная фича - это легкое изменение представиления вида данных без изменения их содержания. Например, можно
      ковертировать список в таблицу и наоборот.<br>
      Я не хочу больше выбирать между форматами представления данных (таблица или список, или mindmap).
      GoldFish позволяет оделить сами данных от их представления. То есть мы можете смотреть данные как в виде таблицы,
      так и в виде списка. Это можно делать даже одновременно, например, вставить одну заметку в другую. И это будет не
      тупое копирование, а создание представления, то есть если в него вносятся изменения - то данные синхронизируются
      (можно отключить).
      Другая не менее важная особенность - работать с частями данных. Например дать ссылку на часть собственной заметки
      (с сохранением связи).<br>
      <a href="{{pathFor 'useCases'}}">Подробнее</a>

<h2>Цели проекта</h2>
    <ul>
        <li>Помогает организовывать мысли и управлять знаниями</li>
        <li>Хранение мыслей и заметок в едином месте</li>
        <li>Персональная база знаний</li>
    </ul>


        <h2>Текущий статус</h2>
  Сейчас проект преставляет из себя активно развивающийся прототип. Сейчас он проходит этап второго тестирования на
  самых доверенных пользотелях. Цель - собрать обратную связь.
      На текущий момент основной приоритет - выработка основных концептов в представлении данных.


        <h2>Ghange Log (история изменений)</h2>
        <ul>
            <li>полная переделка интерфейса (меню, панели, bootstrap3), 7 мая 2015</li>
            <li>испралвение множества ошибок, 23 апреля 2015</li>
            <li>немного улучшена работа с аттрибутами, 15 апреля 2015</li>
            <li>множественное перетаскивание нодов, 8 марта 2015</li>
            <li>Добавил функцию getVirtualAttribute - она позволяет получать аттрибуты связанного нода, через линк (как будто нестед) подробнее в <a href="/help/functions-help">документации</a>, 14 февраля 2015</li>
            <li>немного улучшил работу с АПИ. У goldfish подключено webApi(пока только для плотов)
                уже можнно пользоваться, например так:
                curl -H "X-Auth-Token: YOUR_AUTH_KEY" http://localhost:3000/api/plots - получить список плотов
                curl -H "X-Auth-Token: YOUR_AUTH_KEY" http://localhost:3000/api/plots/plotID - получить информацию по конретному плоту
                curl -H "X-Auth-Token: YOUR_AUTH_KEY" -d "{\"title\": \"Test Plot\"}" localhost:3000/api/plots/ - создать плот

                Так же настроил тестовую интеграцию с zappier (натравил на rss -> webHooks -> api)
                <a href="https://github.com/crazytoad/meteor-collectionapi">документация</a>
                14 февраля 2015</li>
            <li>улучшена работа с фильтрами, сортировкой и лимитом на плотах, 14 февраля 2015</li>
            <li>прототип mindtrail - чтобы вызвать нужно выполнить комаду mindTrail('tyeKsY2Kqk3fzj2zE'), 27 января 2015</li>
            <li>исправлены опечатки в тексте, улучшена работа с inbox & trash, 25 января 2015</li>
            <li>исправлены баги, добавлена работа со звуками, 10 января 2015 г. 08:50:25 (MSK)</li>
            <li>редактирование содержимого нода в отдельной области 2, 2 января 2015 г. 08:50:25 (MSK)</li>
            <li>добавил режим просмотра в виде grid, 31 декабря 2014 г. 09:50:25 (MSK)</li>
            <li>Эксперименты с внешними API - можно вызвать серверный метод Meteor.call("parseNodes") - он будет пытаться выпарсить даты и места из текста нодов, 28 декабря 2014 г. 15:50:25 (MSK)</li>
            <li>Добавлено понятие прототип. Его можно привязать к нодшейпу, и при добавлении полей они все добявятся к нодшейпам воскресенье, 28 декабря 2014 г. 12:50:25 (MSK)</li>
            <li>Добавлен тип нода. То есть разделено понятие тип данных (html, jpeg) и тип нода (задача, проект) воскресенье, 21 декабря 2014 г. 07:26:31 (MSK)</li>
            <li>Работа с хуками (например, при обновлении плота, меняется имя и нода и нодшейпов воскресенье, 21 декабря 2014 г. 07:26:31 (MSK)</li>
            <li>возможность открывать нод шейпы в отдельном окне воскресенье, 21 декабря 2014 г. 07:07:21 (MSK)</li>
            <li>добавлен динамический тип плота воскресенье, 14 декабря 2014 г. 10:35:21 (MSK)</li>
            <li>базовая работа с тегами у нодшейпа суббота, 13 декабря 2014 г. 07:11:43 (MSK)</li>
            <li>добавлен нод с checkbox.
                Пересмотрен концент с аттрибутами. Добавлен редактор аттрибутов. Добавлена динамическая таблица, позволяющая работать с разными аттрибутами. суббота,  6 декабря 2014 г. 09:28:47 (MSK)</li>
            <li>введены типы данных для нода 01-10-2014</li>
        </ul>


      TODO это хорошо бы на memex описывать, потом перенести
        <h2>Архитектура</h2>

        <h3>Аттрибуты</h3>

      Можно задавать через аттрибут, а можно через связь. Связь, это то, на что можно дать ссылку.
      Аттрибуты редактрируются через attribute editor
      Пример можно посмотреть в табилчном ноде

https://www.evernote.com/Home.action#n=6846968b-ce5d-418c-862a-53fd1cc5587a&b=eb70aee9-deb6-470b-b325-e68e3dbaacb4&ses=4&sh=1&sds=5&

              <h3>Шаблоны</h3>
пока не сделано https://www.evernote.com/Home.action#n=efeeed11-61ca-41fe-8766-5030d0ba2ed8&b=eb70aee9-deb6-470b-b325-e68e3dbaacb4&ses=4&sh=1&sds=5&
              <h3>Прототипы</h3>
      пока не сделано
      <h3>Структура отрбражения нодов</h3>
      <pre>
node_shape_group - dinamic тут выделяются ноды и линки
    node_shape_adapter - dinamic   отвечает за внешнее размещение, и тд ширину и высоту, может подменяться без изменения node_shape_widget и node_shape. Тут же настраиваются параметры отображения
         node_shape_menu - dinamic  хало \ меню
         node_shape_widget - static режим редкатирования TODO сделать настраиваемыми режим редактирования тогда будет dinamic
              ns_logic - dinamic ns_complex логика сохранения и отображения здесь, zoom здесь
                   ns_field - dinamic максимально тупое поле ввода данных
                       ...
                   ns_field  - input, textarea и тд
                   ns_wrapper(node_shape_group) для плота
          </pre>
      https://www.evernote.com/Home.action#n=c10b8871-d4ee-4881-bd40-b8c017f34db4&b=eb70aee9-deb6-470b-b325-e68e3dbaacb4&ses=4&sh=1&sds=5&
  <br>
  <br>
  <br>
  </div>
</template>



<template name="useCases">
    TODO это просто затычка должно быть в виде плотов
<pre>
    Я хочу узнать какие книги я прочитал за последнее время. Так же можно строить вмеренной срез. Например, когда я делал чемодан какую книгу я читал?

При работе с плотом иметь возможность строить очередь (визуально выделять ноды)

Помогать чистить базу - искать ноды, где очень мало данных и которые давно не обновлялись.

Запомнить группу, заполнить запрос. - Создать плот на основе запроса (фильтра) как в serm  кабинете

При просмотре сообщения с временными метками (например истории чата) можно выводить как hangouts - список сообщений, разделенный по дням, при наведении на сообщение - время его написания

Когда я посещаю сайт, который уже посещал, сразу позавать мне контекст, когда добавлен, когда просмотрен, заметки, от кого (кто дал ссылку)

презентация plot - как в realtimeboard или imindmap. Возможно это и есть mindtrail.

распознавать текст при помощи сервиса http://markup.dusi.mobi/index.html - выдергивать сущности и привязывать их к нодам\датам. Идея у сервиса прикольная - завтра - переводит в аболютную дату. Хотя конечно работает довольно примитивно. Нужно дать пользователю возможность выбирать какие сервисы подключать. Желательно это делать через пакеты.

Совместный выбор сериала - сначала список - потом появляются параметры. Редактируем вдвоем. Каждый должен иметь возможность понять, что что-то поменялось и что именно поменялось. Интересный вопрос - есть список - я хочу сделать таблицу сравнения. Как поддерживать синхронизацию?

Я перетаскиваю папку - memex она отображается в виде дерева - к нодам можно писать комменты

Мултиязычность:
Добавляю заметку - языки нода определяется через https://github.com/wooorm/franc. На основе этого присваиваются теги

Мне приходят письма на почту - там списки замечаний. Я все проверяю и на основе их ставлю задачи.
Так же я отвечаю на эти письма.
Позже, когда задачи сделаны, я снова пишу письмо, где говорю, что мы сделали

я получил ссылку на реддит от николая http://www.reddit.com/r/proceduralgeneration/  я ее добавляю в мемех делаю explode  (первые 10) то есть нужен экплодер парсер - у меня получается 10 нодов. Далее я работаю по каждой статье. факточески тоже делаю explode ( возможно сразу указываю рекурсив эксплод) по некоторым статьям лежат pdfки они сразу кладуться на dropbox (или что у меня выбрано в default_media_type).  Изначально они помечаются как непрочитанные. (в папку входящие) как в  devothink pro office

я вставляю данные или импортирую по API там просто набор строчек
Взаимодействие с 1С (1w)
Импорт данных об авто из внешней базы (2d) https://tasks.brpr.ru/issues/11832
Я делаю explode и разбиваю на ноды построчно, потом я хочу каждую строчку разбить на проперти типа еще раз explode.    При этом должна быть возможность указать регулярку или добавлять разные типы разбиения (скачивать из store)

идея для построения таблицы так же можно выбрать выводить проперти нодов или связи - или отдельные плоты или настройка

brpr управление ресурсами, я составил планы по defender и шинам (список или таблица), а потом их нужно свести в единый отчет (ганнт)

Другой вариант  (вынести под кат)



Так
ссылка открытая
ываыва ыв выа ыва фвыыавфыа
ссылка закрытая
ссылка открытая
ываыва ыв выа ыва фвыыавфыаф вф фыв фв
ссылка закрытая

И это все одни нод


При клике на ссылка закрытая она показывает свои абзацы, при этом состояние других абзацев не меняется




Можно было в тексте легко часть текста скрывать. Как на сайтах: выделено жирным, можно нажать, откроется больше текста.
А так только " название скрытого кусочка". Хочешь читай, хочешь - нет. Я не знаю, как это точно называется.
Это просто дайджест

Идея разбиение нода - в tinderbox называется explode часто ноды будут вставляться из текстовых или html данных, по этом важно реализовать разбиение сплошного документа на рахные ноды:
по \n по спискам
по заголовкам
по hr

Идея поиск по контекстам - если использовать простой текстовый поиск, то будет выскакимвать много мусора, нужна возможность указать что такие ноды \ такого типа \ с таким содержанием - не показывать при поиске в таком контексте

Представления документов - я составляю портфолио - в своем любимом редакторе google drive.  Как кубики, составляю каждую карточку, а при при помощи memex все это склеиваю в 1 отчет, при этом должно быть легко перейти в каждый документ и отредактировать

напоминания - Разными вариантами: когда сам мемекс открываешь - типа сообщения пользователю. На почту. Или в гугл календарь

я скачал новые книжки про игры - memex должен это отследить и сказать мне - типа новые книжки, я их структурировал так-то правильно?

Должна быть настройка default node type и default storage type

Должна быть система синхронизации тегов, то есть во все внешние системы нужно проэкпортировать теги из мемекса

Я посещаю сайт anki - я смотрел раньше похожий сайт - memex должен определить это и показать мне подходящие плоты\ноды

RA - помогает вспомнить. Я читал статью и нашел в ней упоминание про программу papers, захотел ее скачать и посмотреть, но я уже искал информацию про нее, когда разбирался со списком библиотечных программ. То есть memex должен был мне про нее напомнить. Можно сделать топорно - просто искать одинаковые веб страницы.

Consider the context - я записал в календаре задачу onlife try - сейчас я не могу понять, что это значит - я должен иметь возможность посмотреть контекст добавления задачи через memex. Что я читал, какой идеей занимался, в какое время.

Должен быть набор функции для удобной работы с текстом - text-helpers - быстро пронумеровать строчки в файле, быстро конвертировать список в таблицу

Режим Wander по "неохваченным" мыслям\связям
Разработать нод для отображения очень больших данных (например для набора заметок из evernote)

очень важно выделять текст на страницах, особенно html страницах

хочу создавать события в календаре прямо из memex, что видеть их как на plot, так и в календаре

понятие проект - объединение плотов и нодов
по проекту можно посмотреть \ сгенерить теразус - список основных понятий с определениями, а так же сайтов и персон

пример: я хотел делать игру про чемодан, изучил линки, сам накидал архитектуру, потом николай скинул ссылку на http://ifwiki.org/index.php/Reactive_Agent_Planner и все поменялось. Это должно быть можно воспроизвести через mindtrail

в смысле помечать ноды неким тегом, а потом все ноды с таким тегом пихать в таблицу?

В некоторых случаях нод шейп удобней редактировать не inline, а отдельно, как в evernote или в oovium

Траспонировать список в таблицу - (наверное, через plot) пример я описал стацы, а теперь хочу заполнить карточку

Пример я сделал граф из нодов на полу - было все понятно, но когда я сложил бумажки в стопку (список работать с ними стало сложнее)

Получать дополнительную информацию из нодов, при помощи томита парсера

Построение графа из таблицы

Просмотр нода в виде timeline http://timeglider.com/widget/index.php

Просмотр как в Jira (см заметку с телефона)

Memex usecase много игр на одном движке с общими фичами - можно составить типа нодшейп форму и быстренько ее заполнять (как при сравнении программ) клонированием

tutoral должен быть сделан через mindtrail

Вспомнить, почему я отказался делать memex на squeak (возможность быстро найти проект, инфу и резолюцию)

Скетчи - объединение рисунка и информации в электронном виде.

Чтение книг и выполнение упражнений. Связывание заметок с книгами - представление в разном виде

Составление заметок и отчетов.  - связывание с изначальной заметкой, объединение нескольких в одну. Представление данных в виде отчета.
Анализ кода и оценка задачи - сохранение мест в файлах и описание

Н пишет в скайп ссылку
Ты ее оставляешь в избранное
Из этого рождается идея

Удобная система тракинга времени, наподобие kanbanflow. Возможна интеграция с различными системами и подходами. ← сделать на примере буттон ноде

Я еду в метро, вдруг меня посещает идея. Я запускаю iam выбираю там категорию
Совершаю необходимые действия (пишу заметку)
Потом iam записывает действия в своем формате + помещает необходимыми тегами, чтобы облегчить импорт

Я хочу вернуться к своему проекту по созданию репликаров.
Открываю мемекс. Ищу проекты - репликары.
Мне бегло показывается анимация как создавались ноды (режим mindflow). Потом выдает agenda и предлагает ее актуализировать. При это схема показывает средний масштаб с последним измененным нодом.

Я хочу написать прототип мемекс, но я не знаю как программы хранят данные. Я делаю ссылку спрашивают в чате у Н, он мне кидает ссылку. Я сам гуглю. Эти ссылки приаттачиваются в виде дерева к ноду, при это сами страницы кешируются, через pocket (getpocket.com)? Так же с ними можно работать как и с другим текстом, делать пометки выделения, ссылки на другие ноды теги

Я ставлю задачу на проект в календре, при этом легко связываю ее с проектом.

Я прихожу на работу, хочу составить план на день (agenda) - при этом я могу захотеть туда вставить задачи из календаря, из Jira, любые другие задачи.
А так же руками корректировать сроки и добавлять задачи.

Соотнести Таим менеджмент с заметками, например, что пишешь чем будешь заниматься

Аннотация веб страниц
добавляешь урл
подтягивается его контент
ты можешь его изменять, комметировать и тд
потом можно перейти на урл, и твои пометки и исправления попробовать применить

Сейчас децентрализация (gmail, evenote, skype) а нужна централизация (memex)

После смерти получится дневник - mindTrail + journal mode

Я включаю режим гугления (кнопка в хроме плагин) история анализируется и записывается в виде нодов (направленных)
Дерево поиска и сами веб страницы сохраняются
plot по дате создания

я ставлю задачу - растянуть таб на форме на всю длину (задача 1), и еще есть задача разработать новый интерфейс формы (задача 2) - задача 2 блокирует задачу 1.
Чекнод как в qtgoldfish - когда я его разблокирую в любой вьюхе в другой он пометится зеленым (изменения есть) и я пойму, что могу тут двигаться дальше.
Так же я должен иметь возможность найти все плоты, в которых есть новые изменения - через МУД

Отправить то, чего так не хватает в Word и Excel - возможность embed нодшейп или плот.
</pre>
    <br>
    <br>
    <br>
</template>