<template name="submitIdea">
<div class="container">
    <div class="row" style="
    margin-left: 10px;
">
      <form role="form" action="" method="post" >
        <div class="col-lg-6">
          <div class="form-group">
            <label for="InputName">Тема</label>
            <div class="input-group">
              <input type="text" class="form-control" name="InputName" id="InputName" placeholder="О чем идея" required>
              <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
          </div>
          <div class="form-group">
            <label for="InputMessage">Идея</label>
            <div class="input-group">
              <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
              <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
          </div>
          <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
        </div>
      </form>
    </div>
</div>
</template>