<template name="exportForm">
    <div class="container">
        <div class="row" style="
        margin-left: 10px;">

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="plots-select">Name</label>
                            <div class="col-md-4">
                                {{> plotsSelect}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="awesomeness">How awesome is this?</label>

                            <div class="col-md-4 plot-radio">
                                <div class="radio"><label for="existingPlot">
                                    <input type="radio" name="awesomeness" id="existingPlot" value="добавить на существующий плот" checked="checked">
                                    добавить на существующий плот </label>
                                </div>
                                <div class="radio"><label for="createNewPlot">
                                    <input type="radio" name="awesomeness" id="createNewPlot" value="создать новый плот">
                                    создать новый плот </label>
                                </div>
                                <div class="radio"><label for="addToInbox">
                                    <input type="radio" name="awesomeness" id="addToInbox" value="добавлять в инбокс">
                                    добавлять в инбокс </label>
                                </div>
                            </div>
                        </div>
                        <h2>Фильтры</h2>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="evernote-notebooks-select">Блокнот</label>

                            <div class="col-md-4">
                                {{> evernoteNotebooks}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="filterById">Url заметки</label>

                            <div class="col-md-4">
                                <input name="filterById" value="">
                            </div>
                        </div>
                        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="evernoteNotebooks">
    <select id="evernote-notebooks-select" style="width: 200px;">
        {{#each notebooks}}
            <option value="{{guid}}" selected>{{name}}</option>
        {{/each}}
    </select>
</template>