<template name="ns_button">
        <button style="width: {{div width zoom}}px; height: {{div height zoom}}px;
    -webkit-transform: scale({{zoom}});
    -webkit-transform-origin: 0 0;
    -moz-transform:scale({{zoom}});
    -moz-transform-origin: 0 0;
    -o-transform: scale({{zoom}});
    -o-transform-origin: 0 0;">{{content}}</button>
</template>