<template name="graph_plot">
    <a href='/'><small>to list</small></a>
    {{#if isEditingPlotTitle}}
          <input type="text" id="plot-title-input" placeholder="Type new plot name..." value="{{getEditingPlotValue}}"/>
    {{else}}
        <h3 class='plot-title'>{{title}}</h3>
    {{/if}}

    {{> inputAutocomplete settings=settings class="plot-search" name="mind-trail-search" placeholder="Type to search on this plot..." }}
    <!--TODO вынести бы это в отдельный шаблон-->
               {{#if eq system_type 'trash'}}
                    <button class="btn btn-default empty-trash" type="button">delete all</button>
                {{else}}
                <div class="navbar-btn" style="display: inline-block">
                    <select class="project-select">
                        <option value="" disabled selected>Select prj...</option>
                        {{#each projects}}
                            {{> project_select}}
                        {{/each}}
                    </select>
              </div>
            {{/if}}
            <a href="{{pathFor 'mindTrail'}}" title='view mindtrail'>mindTrail</a>
            <span class='plot-work-mode' title='plot filter mode'>{{ getFilter }}</span>
            <span class="plot-mode" title='current working mode'>{{getCurrentPlotMode}}</span>
                <ul class="nav nav-tabs">
                    <!--<li class="dropdown">-->
                      <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">File<span class="caret"></span></a>-->
                      <!--<ul class="dropdown-menu">-->
                        <!--<li> <a href="#">Совместный доступ...</a></li>-->
                        <!--<li> <a href="#">Rename...</a></li>-->
                        <!--<li> <a href="#">Copy...</a></li>-->
                        <!--<li> <a href="#">Delete</a></li>-->
                        <!--<li> <a href="#">Export</a></li>-->
                        <!--<li> <a href="#">Import</a></li>-->
                        <!--<li> <a href="#">Show changelog</a></li>-->
                        <!--<li> <a href="#">Publish in Web</a></li>-->
                        <!--<li> <a href="#"><span class="glyphicon glyphicon-print"></span> Print</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li> <a href="#" class='copy-selected-nodes'>Copy</a></li>
                        <li> <a href="#" class='paste-nodes'>Paste</a></li>
                        <li> <a href="#" class='select-all-nodes'>Select all</a></li>
                        <li> <a href="#" class='deselect-all-nodes'>Deselect all</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Node<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li> <a href="#" id="add-node-shape-default">add Node</a></li>
                        <li> <a href="#" id="clone-node">Clone Node</a></li>
                        <li> <a href="#" id="copy-node">Copy Node</a></li>
                          <!--TODO не копирует связи-->
                        <!--<li> <a href="#" id="clone-node-with-links">Clone Node with links</a></li>-->
                        <li class="divider"></li>
                        <li> <a href="#" id="add-url-node">add url Node</a></li>
                        <li class="divider"></li>
                        <li><label class="checkbox" style="padding-left: 30px;font-weight: normal;">
                            <input type="checkbox" id="show-hidden-nodes" checked="{{showTmpNodes}}">show hidden Nodes
                        </label></li>
                          <li><label class="checkbox" style="padding-left: 30px;font-weight: normal;">
                            <input type="checkbox" id="hide-complete-nodes" checked="{{hideCompleteNodes}}">hide completed
                        </label></li>
                        <li> <a id="delete-hidden-nodes">delete hidden Nodes</a></li>
                        <li> <a id="explode-node">explode Node</a></li>
                        <li class="divider"></li>
                        <!--<li class="dropdown-submenu">-->
                            <!--<a>Аттрибуты</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--{{> attributesMenu}}-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        {{#with getSelectedNodeShape}}
                            {{#if _id}}
                             <li class="dropdown-submenu">
                                <a>Convert content</a>
                                <ul class="dropdown-menu">
                                    {{>dataMenu_}}
                                </ul>
                             </li>
                             <li class="dropdown-submenu">
                                <a>Widget</a>
                                <ul class="dropdown-menu">
                                    {{>widgetMenu_}}
                                </ul>
                             </li>
                             <li class="dropdown-submenu">
                                <a>Node type</a>
                                <ul class="dropdown-menu">
                                    {{>typeMenu_}}
                                </ul>
                             </li>
                             <li class="dropdown-submenu">
                                <a>NodeShape type</a>
                                <ul class="dropdown-menu">
                                    {{>nodeShapeTypeMenu_}}
                                </ul>
                             </li>
                            <li class="dropdown-submenu">
                                <a>Proto</a>
                                <ul class="dropdown-menu">
                                    {{>protoMenu_}}
                                </ul>
                             </li>
                              <li class="dropdown-submenu">
                                <a>Operations</a>
                                <ul class="dropdown-menu">
                                    {{!--перед нажатием на меню вылеление сбрасывается--}}
                                    <li> <a class="expose-fragment">expose fragment</a></li>
                                    <li> <a class="show-related">show related nodes</a></li>
                                    <li> <a class="hide-node">hide node</a></li>
                                    <li> <a class="delete-node">delete node</a></li>
                                    <li> <a class="resolve-node">resolve node</a></li>
                                </ul>
                             </li>
                             <li> <a class="move-to-node">move to Plot</a></li>
                          {{else}}
                            <!--TODO doesnt work?-->
                            <li>select a node...</li>
                          {{/if}}
                        {{/with}}
                      </ul>
                    </li>
                    <li class="dropdown plot-menu-dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Plot<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li> <a href="#" id="create_new_plot">new Plot...</a></li>
                        <li> <a href="#" class="copy-plot">Copy Plot</a></li>
                        <li> <a href="#" class="clone-plot">Clone Plot</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" >Data</a>
                            {{> plotMenu}}
                        </li>

                         <li class="dropdown-submenu">
                            <a>Filter</a>
                                <ul class="dropdown-menu">
                                  <li class="{{#if eq filter_type 'static'}}active{{/if}}"><a class="set-plot-filter" data-type='static'>Normal (static)</a></li>
                                  <li class="{{#if eq filter_type 'dynamic'}}active{{/if}}"><a class="set-plot-filter" data-type='dynamic'>Dynamic</a></li>
                                  <li class="{{#if eq filter_type 'dynamic_full'}}active{{/if}}"><a class="set-plot-filter" data-type='dynamic_full'>Dynamic Full</a></li>
                                </ul>
                         </li>
                         <li class="dropdown-submenu">
                            <a>Sort</a>
                                <ul class="dropdown-menu">
                                  <li class="{{#unless sort}}active{{/unless}}"><a class="set-plot-sort">Auto</a></li>
                                  <li class="{{#if eq sort_type 'change_time'}}active{{/if}}"><a class="set-plot-sort" data-field='change_time' data-type='change_time' data-order='-1'>Change date</a></li>
                                  <li class="{{#if eq sort_type 'create_time'}}active{{/if}}"><a class="set-plot-sort" data-field='create_time' data-type='create_time' data-order='-1'>Create date</a></li>
                                  <li class="divider"></li>
                                  <li> <a class="set-plot-sort-custom">Custom...</a></li>
                                </ul>
                         </li>
                         <li class="dropdown-submenu">
                            <a>Limit</a>
                                <ul class="dropdown-menu">
                                  <li class='{{#unless limit}}active{{/unless}}'><a href="#" class="set-plot-limit">All</a></li>
                                  <li class='{{#if eq limit 5}}active{{/if}}'><a href="#" class="set-plot-limit" data-limit=5>5</a></li>
                                  <li class='{{#if eq limit 10}}active{{/if}}'><a href="#" class="set-plot-limit" data-limit=10>10</a></li>
                                  <li class='{{#if eq limit 100}}active{{/if}}'><a href="#" class="set-plot-limit" data-limit=100>100</a></li>
                                  <li class="divider"></li>
                                  <li> <a href="#" class="set-plot-limit-custom">Custom...</a></li>
                                </ul>
                         </li>
                         <li> <a href="#" class="create-thumbnail-plot">Recreate thumbnail</a></li>
                          {{#if eq type 'nsg_tree_plot'}}
                            <li> <a href='#' class='set-plot-link-type'>Set link type</a></li>
                          {{/if}}
                          <li class="divider"></li>

                          {{#if clones}}
                              <li class="dropdown-submenu">
                                  <a>Clones</a>
                                  <ul class="dropdown-menu">
                                      {{#each clones}}
                                          <li> <a href="{{pathFor 'plotTab' _id=this}}">{{this}}</a></li>
                                      {{/each}}
                                  </ul>
                              </li>
                          {{/if}}
                          {{#if cloned_from}}
                              <li> <a href="{{pathFor 'plotTab' _id=this.cloned_from}}">Open original plot</a></li>
                          {{/if}}
                          {{#if internal_for}}
                              <li> <a href="{{pathFor 'plotTab' _id=this.internal_for}}">Parent plot</a></li>
                          {{/if}}
                          {{#if exports}}
                              <li class="dropdown-submenu">
                                  <a>External Clones</a>
                                  <ul class="dropdown-menu">
                                      {{#each arrayify exports}}
                                          <li> <a href="{{getExternalUrl}}">{{type}} {{ruDateTime date}}</a></li>
                                      {{/each}}
                                  </ul>
                              </li>
                          {{/if}}
                      </ul>
                    </li>
                    <!--<li class="dropdown">-->
                      <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools<span class="caret"></span></a>-->
                      <!--<ul class="dropdown-menu">-->
                        <!--<li> <a href="#">Submenu 1-1</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                      <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">Options<span class="caret"></span></a>-->
                      <!--<ul class="dropdown-menu">-->
                        <!--<li> <a href="#">Submenu 1-1</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li> <a href="#">Submenu 1-1</a></li>
                      </ul>
                      {{> tutorialMenu}}
                    </li>
                </ul>
</template>


<template name="project_select">
    {{#if eq _id ../project_id}}
            <option value="{{_id}}" selected>{{getNodeShapeTitle _id}}</option>
    {{else}}
            <option value="{{_id}}" >{{getNodeShapeTitle _id}}</option>
    {{/if}}
</template>