<template name="nsg_graph_plot_ext_edit">
<div class="content">
    <div style="cursor: {{getCursorForState}}; width: {{#if editableNodeShape}}60%;{{else}}100%;{{/if}} height: 100%; float: left;position:relative;
  overflow:auto;" oncontextmenu="return true;">
        {{> newNodeMenu}}
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" xmlns:html="http://www.w3.org/1999/xhtml">
            <defs>
                <marker id="arrow10-8-right" markerHeight="8" markerUnits="strokeWidth" markerWidth="10" orient="auto" refX="-3" refY="0" viewBox="-15 -5 20 20"><path d="M -15 -5 L 0 0 L -15 5 z" fill="black"></path></marker>
            </defs>
            {{#each link_shapes}}
                {{> link_shape}}
            {{/each}}
            {{#each related_link_shapes}}
                {{> link_shape}}
            {{/each}}
        </svg>
        {{#each node_shapes}}
            {{> nsa_graph_absolute}}
        {{else}}
            <div class="placeholder" style='position: absolute; top: 0; left: 20px;'>There are no Nodes on this Plot!<br>
                Press DoubleClick to add Node! Or press showHelp to get some help.</div>
        {{/each}}
        {{#each related_node_shapes}}
            {{> nsa_graph_absolute}}
        {{/each}}
        <!--Через foreignObject нихрена не работает, по этому по link_shapes пробигаемся 2 раза-->
        {{#each link_shapes}}
            {{> link_shape_text}}
        {{/each}}
        {{#each related_link_shapes}}
            {{> link_shape_text}}
        {{/each}}
    </div>
    <div style="margin-left: 60%; height: 100%; transition: opacity 2.3s ease-in-out 2.3s, margin 2.3s ease-in-out;{{#if editableNodeShape}} {{else}}display: none;{{/if}}background-color: gainsboro;">
        <div class="close-edit" style="float: right">close</div>
        {{#if editableNodeShape}}
            {{#with editableNodeShape }}
                {{> node_shape_widget}}
            {{/with}}
        {{/if}}
    </div>
</div>
</template>