<template name="nsg_graph_plot">
    <div class="content" style="cursor: {{getCursorForState}}; " oncontextmenu="return true;">
        {{> newNodeMenu}}
        {{> nodeMenu}}
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" xmlns:html="http://www.w3.org/1999/xhtml">
            <defs>
                <marker id="arrow10-8-right" markerHeight="8" markerUnits="strokeWidth" markerWidth="10" orient="auto" refX="-3" refY="0" viewBox="-15 -5 20 20"><path d="M -15 -5 L 0 0 L -15 5 z" fill="black"></path></marker>
            </defs>
            {{#each link_shapes}}
                {{> link_shape}}
            {{/each}}
            {{#each related_link_shapes}}
                {{> link_shape}}
            {{/each}}
            {{#each autoLinkShapes}}
                {{> link_shape}}
            {{/each}}
            {{#each completedLinkShapes}}
                {{> link_shape}}
            {{/each}}
        </svg>
        {{#each node_shapes}}
            {{> nsa_graph_absolute}}
        {{else}}
            <div class="placeholder" style='position: absolute; top: 0; left: 20px;'>There are no Nodes on this Plot!<br>
                Press DoubleClick to add Node! Or press showHelp to get some help.</div>
        {{/each}}
        {{#each related_node_shapes}}
            {{> nsa_graph_absolute}}
        {{/each}}
        {{#each auto_node_shapes}}
            {{> nsa_graph_absolute}}
        {{/each}}
        {{#each completed_node_shapes}}
            {{> nsa_graph_absolute}}
        {{/each}}
        <!--Через foreignObject нихрена не работает, по этому по link_shapes пробигаемся 2 раза-->
        {{#each link_shapes}}
            {{> link_shape_text}}
        {{/each}}
        {{#each related_link_shapes}}
            {{> link_shape_text}}
        {{/each}}
        {{#each autoLinkShapes}}
            {{> link_shape_text}}
        {{/each}}
        {{#each completedLinkShapes}}
            {{> link_shape_text}}
        {{/each}}
    </div>
</template>
