<template name="newNodeMenu">
    <ul id="new-node-menu-{{_id}}"  class="new-node-menu dropdown-menu">
        <li> <a >Create new node</a></li>
        <li class="dropdown-submenu">
            <a tabindex="-1" >New node...</a>
            <ul class="dropdown-menu">
                {{#each avaible_types}}
                    <li> <a class="create-node-by-content-type" data-content-type='{{type}}'>create {{type}}</a></li>
                {{/each}}
                <li class="divider"></li>
                {{#each avaible_adapter_types}}
                    <li> <a class="create-adapter" data-type='{{type}}'>create {{type}}</a></li>
                {{/each}}
            </ul>
        </li>
        <li class="divider"></li>
        <li class="dropdown-submenu">
            <a tabindex="-1" >Add existing node...</a>
            <ul class="dropdown-menu">
               <li> <a class="copy-selected-node">Copy selected node</a></li>
               <li> <a class="copy-selected-plot">Copy selected plot</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li> <a class='copy-selected-nodes'>Copy selected Node(s)</a></li>
        <li> <a class='paste-nodes'>Paste</a></li>
    </ul>
</template>