<template name="home">
<h1>Dashboard</h1>
<hr>
<div>
    {{> showPlotByType}}
</div>

<!--TODO пока пусть просто плот рендерится-->

<!--<div>-->
    <!--{{#with itemsPlots }}-->
        <!--{{> nsg_grid_list_ns}}-->
    <!--{{/with}}-->
<!--</div>-->

<!--<div>-->
    <!--projects-->
    <!--sessions-->
    <!--tags-->
    <!--inbox-->
    <!--{{> nsg_grid_list}}-->
<!--</div>-->
</template>

<template name="homeNew">
<h3>Dashboard</h3>
<hr>
<div style="height: 100%;">
    {{> showPlotByType}}
</div>
</template>