<template name="simpleNodeShape">
    <span class='tag-readonly'>
        <a href='#' style="{{#if isNodeShapeTmpById node_shape_id}}color: red;{{/if}}"
          class='nodeshape_scroll {{#if isNodeShapeSelectedById node_shape_id}}node_shape_selected{{/if}}'
          ondragstart="onDragStartNodeShape(event)" data-node-shape-id='{{node_shape_id}}'
          title='{{getNodeShapeTitle node_shape_id}}'>
            {{renderNodeShapeById node_shape_id}}
        </a>
    </span>
</template>


<template name="simpleNodeShapeWithData">
    <span class='simple-nodeshape-search'>
        {{>nodeShapeTypeIconInline}}
        <a href='#' style="{{#if isNodeShapeTmpById _id}}color: red;{{/if}}"
          class='nodeshape_scroll {{#if isNodeShapeSelectedById _id}}node_shape_selected{{/if}}'
          ondragstart="onDragStartNodeShape(event)" data-node-shape-id='{{_id}}'
          title='{{getNodeShapeTitle _id}}'>
            {{renderNodeShapeById _id}}
        </a>
    </span>
</template>

<template name="nodeShapeTypeIconInline">
    <span>
        {{#if node_shape_type}}
        <span class="glyphicon {{renderNodeAttribute node_shape_type 'picture'}} glyphicon-20px"
              title='node type: {{renderNodeContent node_shape_type}}'></span>
        {{else}}
        <span class="glyphicon glyphicon-info-sign glyphicon-20px"></span>
        {{/if}}
    </span>
</template>

<template name="simpleNodeShapeWithDelete">
    <span class='tag-readonly'><a href='#'
                                  class='nodeshape_scroll {{#if isNodeShapeSelectedById node_shape_id}}node_shape_selected{{/if}}'
                                  ondragstart="onDragStartNodeShape(event)" data-node-shape-id='{{node_shape_id}}'
                                  title='{{getNodeShapeTitle node_shape_id}}'>{{renderNodeShapeById
        node_shape_id}}</a><a style="padding-left: 3px;" class='nodeshape_delete'>X</a></span>
</template>