<template name="nsg_evernote_list">
        <div style="cursor: {{getCursorForState}};">
            <ol>
                {{#each node_shapes}}
                       <li>{{> nsa_list_item}}</li>
                {{else}}
                        <div>There are no Nodes! DoubleClick to add Node!</div>
                {{/each}}
            </ol>
        </div>
</template>