<!--строчка, но пока можно заменить nsg_grid_list-->
<template name="nsg_row">
        <div class="content" style="cursor: {{getCursorForState}};">
            <ol>
                {{#each node_shapes}}
                       <li>{{> nsa_list_item}}</li>
                {{else}}
                        <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
                {{/each}}
            </ol>
        </div>
</template>