<template name="nsg_ordered_list">
        <div class="content" style="cursor: {{getCursorForState}};">
            <ol>
                {{#each node_shapes}}
                       <li class='list-node'>{{> nsa_list_item}}</li>
                {{else}}
                        <div class="placeholder">There are no Nodes! DoubleClick to add Node!</div>
                {{/each}}
            </ol>
        </div>
</template>