<!--TODO как это должно объединяться?-->
<template name="plotTab">
        {{>legend}}
    <!--для туториала-->
      <img class="fake-mouse" src="/tutorial/mac-osx-arrow-cursor.png" alt="legend">
     <div id="{{_id}}" class="tab">
        <!--{{> showPlotMenuByType}}-->
         <!--TODO тут возможно все равно что то типа такого нужно оставить-->
        <div class='front-page-plot'>
            {{> showPlotByType}}
        </div>
    </div>
</template>

<template name="nodeShapeTab">
    {{#with plot}}
        <a href="{{pathFor 'plotTab'}}">{{title}}</a> -
    {{/with}}
    {{#each getBreadCrumbs}}
        <a href='{{id}}'>{{title}}</a>
    {{/each}}
     <div id="{{_id}}" class="tab">
            {{> node_shape_widget}}
    </div>
</template>

<!--Показывает плоты простым список (без использования нодшейпов)-->
<template name="nsg_list">
    {{#each items}}
        <div><a href="{{pathFor 'plotTab'}}" title='open in new window'><span class="glyphicon glyphicon-new-window"></span> {{title}} {{#if getNewNodesCount _id}}({{getNewNodesCount _id}}){{/if}}</a></div>
        {{> plotTab}}
    {{else}}
            <div class="placeholder plot-placeholder">There are no plots. Press ShowHelp to start!
                <br>
                <br>
                <small>Press addPlot to add new plot!</small>
            </div>
    {{/each}}
</template>