<!--TODO как это должно объединяться?-->
<template name="plotGridTab">

    <div class="product">

        <div class="product-title">
            <a href="{{pathFor 'plotTab'}}" title='open in new window'>{{title}}</a></div>
        <div class="product-image">
            {{> showPlotByType}}
        </div>
        <div class="product-text">
            <div> some description</div>
        </div>
    </div>

</template>


<!--для плотов-->
<template name="nsg_grid_list">
      <!--{{#if currentUser }}-->
        <!--{{>plotListPanel plotCount=plotCount}}-->
      <!--{{/if}}-->
    <div class="content-left-nopadding">
        {{#each items}}
            {{> plotGridTab}}
        {{else}}
                <div class="placeholder plot-placeholder">There are no plots. Press ShowHelp to start!
                    <br>
                    <br>
                    <small>Press addPlot to add new plot!</small>
                </div>
        {{/each}}
    </div>
</template>

<!--для нодшейпов-->
<template name="nsg_grid_list_ns">
    <div class="content-left-nopadding">
        {{#each items}}
            {{> nsa_grid_item}}
        {{else}}
                <div class="placeholder plot-placeholder">There are no plots. Press ShowHelp to start!
                    <br>
                    <br>
                    <small>Press addPlot to add new plot!</small>
                </div>
        {{/each}}
    </div>
</template>