<template name="nsg_checklist_plot">
    <div class="content" style="cursor: {{getCursorForState}}; " oncontextmenu="return true;">
        {{> newNodeMenu}}
        {{> nodeMenu}}
        <div id="tree" style="height: 100%;">
            <ul id="treeData" style='list-style-type: none;'>
                {{#each items }}
                    {{> checklistTreeNodeTemplate}}
                {{/each }}
            </ul>
        </div>
    </div>
</template>



<template name="checklistTreeNodeTemplate" >
    <li id="{{_id}}" title="{{getNodeShapeTitle _id}}" data-id="{{_id}}">
        <div style="display:-webkit-box">{{> nsa_checklist_item}}</div>
        {{#if hasChildren}}
            <ul style='list-style-type: none;'>
                {{#each children}}
                    {{> checklistTreeNodeTemplate}}
                {{/each}}
            </ul>
        {{/if}}
    </li>
</template>