<template name="nsg_graph_main_list">
<div class="content">
    <div style="float: left; width: {{#if editableNodeShape}}20%;{{else}}100%;{{/if}} height: 100%;">
        {{> nsg_ordered_list }}
    </div>
    <div style="margin-left: 20%; height: 100%; transition: opacity 2.3s ease-in-out 2.3s, margin 2.3s ease-in-out;{{#if editableNodeShape}} {{else}}display: none;{{/if}}background-color: gainsboro;">
        <a class="close-edit" style="float: right">close</a>
        {{#if editableNodeShape}}
            {{#with editableNodeShape }}
                {{> node_shape_widget}}
            {{/with}}
        {{/if}}
    </div>
</div>
</template>