<template name="otherPanel">
        <ul class="nav nav-pills">
            <li>{{> inputAutocomplete settings=settings class="form-control" name="mind-trail-search" placeholder="Type to search..." autocomplete="off"}}</li>
            <li> <a type="button" class="btn btn-default" value="addPlot" id="create_new_plot">addPlot</a></li>
            <li> <a type="button" class="btn btn-default" value="addPlot" id="create_new_node">addNode</a></li>
        </ul>
</template>
