<template name="otherFooter">
            <form class="navbar-search pull-left" role="form">

                <!--список плотов-->
                {{> inputAutocomplete settings=plotSearchSettings placeholder="Find plot..." }}

                <!--список нодов-->
                {{> inputAutocomplete settings=nodeSearchSettings placeholder="Type to search nodes..." }}

              </form>

                  <ul class="nav pull-right">
                      <li>
                          <div class="btn-group navbar-btn">
                              <a class="btn" href="{{pathFor 'inbox'}}"><span class="glyphicon glyphicon-inbox"></span> Inbox <span class="badge">{{getInboxNodesCount}}</span></a>
                              <a class="btn" href="{{pathFor 'trash'}}"><span class="glyphicon glyphicon-trash"></span> Trash <span class="badge">{{getTrashNodesCount}}</span></a>
                          </div>
                      </li>
                  </ul>
</template>
