<template name="plotsPanel">
        <ul class="nav nav-pills">
            <li><h3 class='plot-title'>Plot list</h3></li>
            <li>{{> inputAutocomplete settings=settings class="form-control" name="mind-trail-search" placeholder="Type to search..." autocomplete="off"}}</li>
            <li> <a type="button" class="btn" id="create_new_plot">addPlot</a></li>
            <li> <a type="button" class="btn" id="create_new_node">addNode</a></li>
        </ul>
        {{>plotListPanel plotCount=plotCount}}
</template>

<template name="plotListPanel">
    {{#if isPlotView}}{{else}}
        <div style='display: inline-block;' title='plot list. The filters and sort still in work.'>
            Plots list Plot count: {{plotCount}} Order by: date
        </div>
    {{/if}}
</template>