<!--#TODO подумать про стили, как их правильно вынести в шаблоны-->
<template name="ns_checkbox">
    <label
            style="
    height: 100%; width: 100%; overflow: auto;
    "
            ><input type="checkbox" checked={{is_checked}} value="{{content}}" class="checkbox" style="
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    border: none;
    /*width: {{div width zoom}}px; height: {{div height zoom}}px;*/
    -webkit-transform: scale({{zoom}});
    -webkit-transform-origin: 0 0;
    -moz-transform:scale({{zoom}});
    -moz-transform-origin: 0 0;
    -o-transform: scale({{zoom}});
    -o-transform-origin: 0 0;"/>{{content}}</label>
</template>