<template name="ns_ckeditor">
    <div class="container">
      <textarea class="node-input" id="{{_id}}-ckeditor-node-input" type="text" value="{{getEditingValue}}">{{content}}</textarea>
    </div>
</template>