<template name="ns_iframe" xmlns="http://www.w3.org/1999/html">
        <div>
            <iframe id='iframe_{{_id}}' src={{external_uri}} style="zoom: {{zoom}};" >
            </iframe>
        </div>
</template>