<template name="ns_readonly">
    <div class='nsl-content' style='height: 100%; width: 100%; overflow: auto; zoom:{{zoom}}; {{#if max_height}}max-height:{{max_height}};{{/if}}' contenteditable="{{#if contenteditable_enabled}}true{{/if}}">
        <!--Здесь надо отображать widget для чтения-->
        {{{content}}}
    </div>
</template>