<template name="ns_textarea">
    <textarea class="node-input" type="text" style="
    background-color: inherit;
    height: calc(100%/{{zoom}});
    width: calc(100%/{{zoom}});
    -webkit-transform: scale({{zoom}});
    -webkit-transform-origin: 0 0;
    -moz-transform:scale({{zoom}});
    -moz-transform-origin: 0 0;
    -o-transform: scale({{zoom}});
    -o-transform-origin: 0 0;" placeholder="add text...">{{content}}</textarea>
</template>