<template name="header">
     <div class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="navbar-header">
            <a class="navbar-brand" href="/" title='goldfish'><img src="/icons/fish.png"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <div class="container-fulid">
                {{#if currentUser }}
                    {{> showPlotMenuByType}}
                {{/if}}

              <ul class="nav navbar-nav navbar-right">
                {{> loginButtons }}
              </ul>
            </div>
            {{#if currentUser }}
                <div class="container-fulid">
                    {{> showPlotPanelByType}}
                </div>
                <div class="container-fulid">
                    <div title='Буффер обмена'>
                        <div style='display: initial; float: right;'>{{> showBuffer}}</div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="plot_select">
{{#if updateSelectedPlot}}
        <option value="{{_id}}" selected>{{title}}</option>
    {{else}}
        <option value="{{_id}}" >{{title}}</option>
{{/if}}
</template>
<template name="link_select">
{{#if isLinkSelected}}
        <option value="{{_id}}" selected>{{title}}</option>
    {{else}}
        <option value="{{_id}}" >{{title}}</option>
{{/if}}
</template>

<template name="node_select">
{{#if updateSelectedNode}}
        <option value="{{_id}}" selected>{{#if attrs.title}}{{attrs.title}}{{else}}{{attrs.content}}{{/if}}</option>
    {{else}}
        <option value="{{_id}}" >{{#if attrs.title}}{{attrs.title}}{{else}}{{attrs.content}}{{/if}}</option>
{{/if}}
</template>