<template name="layout">
    {{> header}}
    <div id="main" class="row-fluid" style="padding-top: 70px;">
        {{> yield}}
    </div>
    {{> footer}}
</template>

<template name="forbidden">
    <div class="alert alert-danger" role="alert">You are not authorized to view this page!</div>
</template>

<template name="accessDenied">
    <div class="alert alert-danger" role="alert">Please log in.</div>
</template>