<template name="cronSettings">
  {{#settingsContainer}}
    <h1>Настройки крона</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Задание</th>
            <th>Исполняется каждые</th>
          </tr>
        </thead>
        <tbody>
          {{#each cron_jobs}}
            <tr>
              <td>{{title}}</td>
              <td>{{interval}}</td>
            </tr>
          {{else}}
            <div class="placeholder">Nothing configured</div>
          {{/each}}
        </tbody>
      </table>
    </div>
    <button class="btn not-done-label">Add new job...</button>
  {{/settingsContainer}}
</template>